In [6]:
# General imports
import os
import sys
import pandas as pd

pd.options.mode.chained_assignment = None  # default='warn'
import numpy as np
import subprocess

# Other imports
import multiprocessing
import parmap
import collections
from tqdm import tqdm

tqdm.pandas()

import json
from pandarallel import pandarallel

pandarallel.initialize(nb_workers=60, progress_bar=True)
from pprint import pprint

# Custom utils
sys.path.append("/home/weber/PycharmProjects/EXOTIC/src")
from utils.utils import load_config_file

# Figures imports
import matplotlib

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
from statannot import add_stat_annotation
import matplotlib.font_manager as font_manager

# Font settings
font_dirs = ['/home/weber/Fonts', ]
font_files = font_manager.findSystemFonts(fontpaths=font_dirs)
font_list = font_manager.createFontList(font_files)
font_manager.fontManager.ttflist.extend(font_list)

from matplotlib import rcParams
rcParams['font.family'] = 'sans-serif'
rcParams['font.sans-serif'] = ['Arial']
rcParams['font.weight'] = 'light'

## YAML FILES CONFIG
yaml = load_config_file(config_file="/home/weber/PycharmProjects/EXOTIC/clean/src/config_clean_clean.yaml")

dicts = json.load(open("/home/weber/PycharmProjects/EXOTIC/src/EXOTIC_config.json"))

INFO: Pandarallel will run on 60 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

/home/weber/.conda/envs/ExoCarto/lib/python3.7/site-packages/tqdm/std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel
/home/weber/.conda/envs/ExoCarto/lib/python3.7/site-packages/ipykernel_launcher.py:40: MatplotlibDeprecationWarning:
The createFontList function was deprecated in Matplotlib 3.2 and will be removed two minor releases later. Use FontManager.addfont instead.

In [3]:
exotic

,symbol,ensg,HGNC,Exon,mRNA_nb,mRNA_nb_total,MAP,mean_proportion,Adipose - Subcutaneous,Adipose - Visceral (Omentum),...,new_mRNA_gene,new_mRNA_nb_total,Ratio,CDS_start,CDS_stop,Share,Length,Ratio_num,Const_Alt,CDS_count
0,A2ML1,ENSG00000166535,23336,8975248-8975309,1,2,A2ML1_8975248-8975309,0.69514,0.156704,0.156704,...,"[NM_144670, NM_001282424]",2,1/2,8975248,8975309,False,61,0.500000,Alt,36
1,A2ML1,ENSG00000166535,23336,8975778-8975961,1,2,A2ML1_8975778-8975961,0.69514,0.156704,0.156704,...,"[NM_144670, NM_001282424]",2,1/2,8975778,8975961,False,183,0.500000,Alt,36
2,A2ML1,ENSG00000166535,23336,8976316-8976478,1,2,A2ML1_8976316-8976478,0.69514,0.156704,0.156704,...,"[NM_144670, NM_001282424]",2,1/2,8976316,8976478,False,162,0.500000,Alt,36
3,A2ML1,ENSG00000166535,23336,8982323-8982375,1,2,A2ML1_8982323-8982375,0.69514,0.156704,0.156704,...,"[NM_144670, NM_001282424]",2,1/2,8982323,8982375,False,52,0.500000,Alt,36
4,A2ML1,ENSG00000166535,23336,8987258-8987278,1,2,A2ML1_8987258-8987278,0.69514,0.156704,0.156704,...,"[NM_144670, NM_001282424]",2,1/2,8987258,8987278,False,20,0.500000,Alt,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29295,ZXDC,ENSG00000070476,28160,126158475-126158570,1,2,ZXDC_126158475-126158570,0.20989,0.000470,0.009736,...,"[NM_025112, NM_001040653]",2,1/2,126158475,126158570,False,95,0.500000,Alt,11
29296,ZXDC,ENSG00000070476,28160,126160608-126160789,1,2,ZXDC_126160608-126160789,0.20989,0.000470,0.009736,...,"[NM_025112, NM_001040653]",2,1/2,126160608,126160789,False,181,0.500000,Alt,11
29297,ZXDC,ENSG00000070476,28160,126178496-126178580,1,2,ZXDC_126178496-126178580,0.20989,0.000470,0.009736,...,"[NM_025112, NM_001040653]",2,1/2,126178496,126178580,False,84,0.500000,Alt,11
29298,ZXDC,ENSG00000070476,28160,126180378-126181063,1,2,ZXDC_126180378-126181063,0.34803,0.030669,0.014999,...,"[NM_025112, NM_001040653]",2,1/2,126180378,126181063,False,685,0.500000,Alt,11
29299,ZYX,ENSG00000159840,13200,143079686-143079778,2,3,ZYX_143079686-143079778,0.26888,0.009486,-0.000488,...,"[NM_003461, NM_001362783, NM_001010972]",3,2/3,143079686,143079778,False,92,0.666667,Alt,9

In [10]:
biomart = pd.read_csv(yaml['1_GENOMICS']['External']['biomart_37'], compression='gzip', sep='\t')
biomart = biomart.loc[~biomart['Chromosome/scaffold name'].str.contains('HG|CHR|GL')].rename({'Chromosome/scaffold name' : 'CHROM', 'Gene name' : 'symbol'}, axis=1)
# biomart['Chromosome/scaffold name'].value_counts()
exotic = pd.read_parquet("/gstock/EXOTIC/data/EXOTIC/EXOTIC_modified_zscore_mean_prop_corrected_with_variable.parquet")
exotic = pd.merge(biomart[['CHROM', 'symbol']], exotic, on='symbol')
exotic[['CHROM', 'CDS_start', 'CDS_stop', 'MAP']].sort_values(by=['CHROM', 'CDS_start']).to_csv('/biolo/ngs/remap/EXOTIC.bed', header=False,sep='\t', index=False)
exotic[['CHROM', 'CDS_start', 'CDS_stop', 'MAP']].sort_values(by=['CHROM', 'CDS_start'])

       CHROM CDS_start  CDS_stop                     MAP
302633     1  10002739  10002793  LZIC_10002739-10002793
302640     1  10002739  10002793  LZIC_10002739-10002793
302647     1  10002739  10002793  LZIC_10002739-10002793
302654     1  10002739  10002793  LZIC_10002739-10002793
302661     1  10002739  10002793  LZIC_10002739-10002793
...      ...       ...       ...                     ...
149515     Y   2844711   2844863     ZFY_2844711-2844863
149519     Y   2844711   2844863     ZFY_2844711-2844863
149523     Y   2844711   2844863     ZFY_2844711-2844863
149527     Y   2844711   2844863     ZFY_2844711-2844863
149531     Y   2844711   2844863     ZFY_2844711-2844863

[425962 rows x 4 columns]

In [15]:
import subprocess
subprocess.call("/usr/local/bin/perl /biolo/ngs/remap/remap_api.pl --mode asm-asm --from GCF_000001405.25 --dest GCF_000001405.26 --annotation /biolo/ngs/remap/EXOTIC.bed --annot_out /biolo/ngs/remap/EXOTIC_remap.bed --report_out report --in_format bed --out_format bed")
# from subprocess import Popen, PIPE

# process = Popen(["/usr/local/bin/perl", "remap_api.pl", "--mode", "asm-asm", "--from", "GCF_000001405.25", "--dest", "GCF_000001405.26", "--annotation", "/biolo/ngs/remap/EXOTIC.bed", "--annot_out", "/biolo/ngs/remap/EXOTIC_remap.bed", "--report_out", "report", "--in_format", "bed", "--out_format", "bed"], stdout=PIPE, stderr=PIPE)
# stdout, stderr = process.communicate()
# exotic_remap_map = pd.read_csv('/biolo/ngs/remap/EXOTIC_remap.bed', sep='\t', names=['CHROM_38', 'Exon_start_38', 'Exon_end_38', 'MAP'])
# exotic_remap_map = exotic_remap_map.loc[~exotic_remap_map['CHROM_38'].str.contains('HSCHR')]
# exotic_remap_map

FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/bin/perl /biolo/ngs/remap/remap_api.pl --mode asm-asm --from GCF_000001405.25 --dest GCF_000001405.26 --annotation /biolo/ngs/remap/EXOTIC.bed --annot_out /biolo/ngs/remap/EXOTIC_remap.bed --report_out report --in_format bed --out_format bed': '/usr/local/bin/perl /biolo/ngs/remap/remap_api.pl --mode asm-asm --from GCF_000001405.25 --dest GCF_000001405.26 --annotation /biolo/ngs/remap/EXOTIC.bed --annot_out /biolo/ngs/remap/EXOTIC_remap.bed --report_out report --in_format bed --out_format bed'

In [14]:
mainpath = "/home/weber/PycharmProjects/ExoCarto/"
refseq_bc = pd.read_csv(mainpath + files['RefSeq']['df_transposed_gene_file'], compression='gzip', sep='\t')
refseq_ac = pd.read_parquet(files['RefSeq']['refseq_corrected_lite'])

,Gene,ranges,new_mRNA_exons,new_mRNA_nb,new_mRNA_gene,new_mRNA_nb_total,new_Ratio,new_Ratio_num,Const_Alt,new_Ratio_num_bins,Start,End,Length,new_CDS_count
0,A2M,9220419-9220435,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9220419,9220435,16,38
1,A2M,9220779-9220820,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9220779,9220820,41,38
2,A2M,9221336-9221438,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9221336,9221438,102,38
3,A2M,9222341-9222409,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9222341,9222409,68,38
4,A2M,9223084-9223174,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9223084,9223174,90,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176794,ZZZ3,78047461-78047576,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78047461,78047576,115,12
176795,ZZZ3,78047664-78047811,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78047664,78047811,147,12
176796,ZZZ3,78050202-78050340,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78050202,78050340,138,12
176797,ZZZ3,78097535-78099039,[NM_015534],1,"[NM_001308237, NM_015534]",2,1/2,0.5,Alt,0.4 - 0.6,78097535,78099039,1504,12
176798,ZZZ3,78105134-78105156,[NM_001308237],1,"[NM_001308237, NM_015534]",2,1/2,0.5,Alt,0.4 - 0.6,78105134,78105156,22,12

In [15]:
refseq_bc

,ID,Source,Element,Start,End,Score,Brin,Phase,CCDS,Dbxref,...,Elem_position_ID,CDS_num,mRNA_num,mRNA_nb,Count,Count_CDS_alternative,Count_CDS_constitutive,mRNA_IDS,CDS_locations_corrected,HGNC
0,NC_000019.9,BestRefSeq,gene,58856549,58864858,.,-,.,NaN,"GeneID:1,HGNC:HGNC:5,MIM:138670",...,58856549_58864858,NaN,NaN,1,NaN,0,8,['NM_130786.4'],"{(58858388, 58858395): {'Sources': [(58858388,...",5.0
1,NC_000008.10,BestRefSeq,gene,18248792,18258728,.,+,.,NaN,"GeneID:10,HGNC:HGNC:7646,MIM:612182",...,18248792_18258728,NaN,NaN,1,NaN,0,1,['NM_000015.3'],"{(18257514, 18258386): {'Sources': [(18257514,...",7646.0
2,NC_000020.10,BestRefSeq,gene,43248160,43280399,.,-,.,NaN,"GeneID:100,HGNC:HGNC:186,MIM:608958",...,43248160_43280399,NaN,NaN,3,NaN,7,6,"['NM_001322050.1', 'NM_001322051.1', 'NM_00002...","{(43248475, 43248488): {'Sources': [(43248475,...",186.0
3,NC_000018.9,BestRefSeq,gene,25530930,25757094,.,-,.,NaN,"GeneID:1000,HGNC:HGNC:1759,MIM:114020",...,25530930_25757094,NaN,NaN,2,NaN,3,14,"['NM_001792.5', 'NM_001308176.2']","{(25532117, 25532323): {'Sources': [(25532117,...",1759.0
4,NC_000001.10,BestRefSeq,gene,243651535,244014381,.,-,.,NaN,"GeneID:10000,HGNC:HGNC:393,MIM:611223",...,243651535_244014381,NaN,NaN,4,NaN,2,12,"['NM_181690.2', 'NM_001206729.1', 'NM_00137007...","{(243663045, 243663088): {'Sources': [(2436630...",393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19318,NC_000009.11,BestRefSeq,gene,114979995,115095944,.,-,.,NaN,"GeneID:9991,HGNC:HGNC:10253,MIM:607527",...,114979995_115095944,NaN,NaN,6,NaN,10,10,"['NM_001163790.2', 'NM_001244896.2', 'NM_00124...","{(114982452, 114982653): {'Sources': [(1149824...",10253.0
19319,NC_000021.8,BestRefSeq,gene,35736323,35743440,.,+,.,NaN,"GeneID:9992,HGNC:HGNC:6242,MIM:603796",...,35736323_35743440,NaN,NaN,1,NaN,0,1,['NM_172201.1'],"{(35742778, 35743149): {'Sources': [(35742778,...",6242.0
19320,NC_000022.10,BestRefSeq,gene,19023795,19109967,.,-,.,NaN,"GeneID:9993,HGNC:HGNC:2845,MIM:600594",...,19023795_19109967,NaN,NaN,4,NaN,3,8,"['NM_001173533.1', 'NM_001173534.2', 'NM_00118...","{(19026378, 19026634): {'Sources': [(19026378,...",2845.0
19321,NC_000006.11,BestRefSeq,gene,90539599,90584155,.,+,.,NaN,"GeneID:9994,HGNC:HGNC:1510,MIM:606880",...,90539599_90584155,NaN,NaN,3,NaN,0,9,"['NM_012115.4', 'NM_001137667.2', 'NM_00113766...","{(90556309, 90556363): {'Sources': [(90556309,...",1510.0
19322,NC_000022.10,BestRefSeq,gene,50961997,50964868,.,-,.,NaN,"GeneID:9997,HGNC:HGNC:10604,MIM:604272",...,50961997_50964868,NaN,NaN,4,NaN,0,1,"['NM_001169109.1', 'NM_001169110.1', 'NM_00513...","{(50962040, 50962840): {'Sources': [(50962040,...",10604.0

In [43]:
refseq_ac

,Gene,ranges,new_mRNA_exons,new_mRNA_nb,new_mRNA_gene,new_mRNA_nb_total,new_Ratio,new_Ratio_num,Const_Alt,new_Ratio_num_bins,Start,End,Length,new_CDS_count
0,A2M,9220419-9220435,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9220419,9220435,16,38
1,A2M,9220779-9220820,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9220779,9220820,41,38
2,A2M,9221336-9221438,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9221336,9221438,102,38
3,A2M,9222341-9222409,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9222341,9222409,68,38
4,A2M,9223084-9223174,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,"[NM_001347423, NM_001347425, NM_000014, NM_001...",4,4/4,1.0,Const,0.8 - 1,9223084,9223174,90,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176794,ZZZ3,78047461-78047576,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78047461,78047576,115,12
176795,ZZZ3,78047664-78047811,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78047664,78047811,147,12
176796,ZZZ3,78050202-78050340,"[NM_001308237, NM_015534]",2,"[NM_001308237, NM_015534]",2,2/2,1.0,Const,0.8 - 1,78050202,78050340,138,12
176797,ZZZ3,78097535-78099039,[NM_015534],1,"[NM_001308237, NM_015534]",2,1/2,0.5,Alt,0.4 - 0.6,78097535,78099039,1504,12
176798,ZZZ3,78105134-78105156,[NM_001308237],1,"[NM_001308237, NM_015534]",2,1/2,0.5,Alt,0.4 - 0.6,78105134,78105156,22,12

In [46]:
diff = list(set(refseq_bc.loc[refseq_bc['mRNA_nb'] == 1].Name.values.tolist()).difference(set(refseq_ac.Gene.values.tolist())))
print(diff)
# # diff = [sub_e for e in diff for sub_e in e.split('-')]
# diff = ["".join(filter(lambda x: x.isalpha(), e))  for e in diff]
# import collections
# df = pd.DataFrame.from_dict(dict(collections.Counter(diff)), orient='index')

['BPIFC', 'MUC5AC', 'VHLL', 'CRYBA4', 'OR4D9', 'H2AC4', 'PPIAL4F', 'FOXD4L4', 'OR51V1', 'DCANP1', 'FLJ44635', 'PRAMEF11', 'RDH12', 'XAGE5', 'OR10J4', 'DPPA5', 'GUCY2D', 'CT47A7', 'MUC2', 'FAM47C', 'OR5AS1', 'FOXD4L6', 'TRIM49C', 'SSMEM1', 'NXF2B', 'HNRNPCL2', 'DEFB103B', 'PGK2', 'H2AB3', 'POU4F1', 'AVP', 'CTAG1A', 'FAM186A', 'LOC100132202', 'SLC22A25', 'KRT37', 'KRTAP26-1', 'LOC112577592', 'MTRNR2L7', 'OR5AC2', 'SLC22A16', 'GPR52', 'KRT32', 'KRT9', 'CFC1B', 'FAM90A26', 'TMPRSS9', 'OR52N2', 'OR5P2', 'TCL1B', 'SLC22A9', 'P3R3URF', 'LMAN1L', 'GJE1', 'ZNF793', 'ELOA', 'TRIM64B', 'PRR36', 'MDS2', 'MANBA', 'BTNL10', 'ZC3H12D', 'KRTAP5-5', 'FNDC7', 'DEFA5', 'TEDDM1', 'SLC26A4', 'MSGN1', 'NRG4', 'COL22A1', 'ABHD1', 'LOC390877', 'ANKRD63', 'TCP10L2', 'OR52H1', 'USP27X', 'H4C2', 'BTNL2', 'EDDM3B', 'DEFB136', 'KRTAP2-3', 'HYAL4', 'OR5R1', 'PLIN4', 'ALPP', 'PRR25', 'WNT8B', 'CDR1', 'KIR2DL1', 'OR6C68', 'SLC25A53', 'LCN15', 'SOGA3', 'SMIM38', 'LCN12', 'EIF3I', 'COL19A1', 'UGT2B15', 'POU4F2', 'KRTAP6-3', 'LOC105370980', 'PPP1R2C', 'CPSF1', 'NOTO', 'LYNX1-SLURP2', 'ANKRD34A', 'ARSH', 'RPS17', 'DHH', 'SERAC1', 'CR1L', 'KRTAP13-2', 'SPINK13', 'PRAMEF6', 'SLC25A2', 'IL1RAPL2', 'OR2T8', 'OR56B4', 'TCP11X2', 'CPSF4L', 'DEFA4', 'FAM24A', 'RFPL4AL1', 'H4C13', 'CCDC60', 'USP17L28', 'HNRNPCL1', 'PDCL2', 'LOC644090', 'WEE2', 'OR5D16', 'CCDC185', 'CAMP', 'C8orf74', 'SSTR4', 'CACNG3', 'ANKRD20A2', 'OR2C3', 'RBMXL3', 'PRSS58', 'MTRNR2L9', 'USP17L5', 'HES3', 'NLRP5', 'GIP', 'KRTAP17-1', 'IL17A', 'KCTD19', 'OR10A4', 'IFNA10', 'C10orf95', 'SPATA31A1', 'GSTA5', 'DEFB104B', 'USP17L19', 'ZNF8', 'ISX', 'OR13C9', 'OR2J3', 'H3C6', 'MYO1H', 'ATOH1', 'PLET1', 'MAGEA10-MAGEA5', 'CSH1', 'MALRD1', 'DHRS11', 'C10orf143', 'OR1I1', 'ONECUT3', 'DEFB109B', 'WFDC13', 'THEGL', 'FTHL18', 'PLA2G2E', 'LECT2', 'RPS7', 'HS3ST6', 'MED16', 'OR5T2', 'SCRT2', 'ACTBL2', 'NKX2-4', 'BHLHE23', 'OR4A15', 'RHOXF2B', 'NT5DC4', 'TLR5', 'IZUMO1R', 'RBM8A', 'SOX1', 'ARL13A', 'C9orf139', 'RAB40AL', 'CGB1', 'MAGEA3', 'SLC51A', 'OR10AG1', 'ARHGAP23', 'GOLGA6L2', 'OR10G9', 'TYW1B', 'ZNF598', 'CXorf66', 'FAM25G', 'PTPN9', 'METTL11B', 'SPATA31A3', 'TAS2R3', 'SPANXN2', 'ANKRD34B', 'OR1B1', 'SUN5', 'KRTAP19-5', 'OR2K2', 'UCN3', 'MAL2', 'METTL21C', 'H3Y2', 'OR4E1', 'ZNF729', 'OR1E3', 'DCAF4L2', 'ODF1', 'KRTAP19-1', 'TGM7', 'DUSP14', 'CHRNE', 'OR10C1', 'HDGFL1', 'KRTAP21-3', 'SCTR', 'CNTNAP2', 'SLC18A2', 'SCGB1D4', 'OR6S1', 'CENPVL1', 'FAM9B', 'KCNA6', 'DCAF8L1', 'FAM83C', 'OR5AN1', 'C20orf173', 'FREM3', 'OR10S1', 'RPS4Y2', 'HOXD13', 'ELOA2', 'PRSS41', 'CYP1A2', 'UTF1', 'PLA2G10', 'CCDC172', 'ORAI1', 'ATP5MGL', 'FAM50B', 'ST20-MTHFS', 'DCDC2B', 'OR11H6', 'SI', 'OR52M1', 'SPINT4', 'OR52N5', 'HAND1', 'TCHHL1', 'CD80', 'SMIM40', 'DEFB130B', 'TSPY2', 'KSR2', 'SPANXB1', 'IL2', 'SCGB3A2', 'TAAR5', 'H2AC21', 'TDRD15', 'ZACN', 'FAM71E2', 'LACTBL1', 'BTBD8', 'KCNK18', 'ZBTB8B', 'SPATA32', 'ERAS', 'PZP', 'CCDC200', 'CBLIF', 'GPR61', 'KRTAP9-3', 'ERFE', 'SLC5A5', 'RTL1', 'MAGEB3', 'TSSK2', 'MGAT4D', 'PRAMEF18', 'PSMB3', 'POU3F4', 'ERCC5', 'ARMH2', 'LOC441155', 'GPR152', 'PHOX2A', 'CYP11B2', 'BRS3', 'CYP2D7', 'TAS2R30', 'SMR3A', 'CUZD1', 'NEDD8-MDP1', 'PGBD3', 'GDF3', 'HOXB1', 'CCDC168', 'IL26', 'SPACA1', 'CT47A1', 'RGPD1', 'FAM237A', 'MROH2A', 'DCC', 'LENG9', 'BNIP5', 'C6orf15', 'LY6G5C', 'LOC100287036', 'C1QTNF8', 'TUBA3E', 'HMHB1', 'OR6K3', 'DNAJB8', 'TRIM49B', 'OR51B5', 'SPATA31D1', 'BPI', 'OR13G1', 'MYL10', 'TBC1D3B', 'C17orf98', 'KIF26A', 'GPHA2', 'OR51T1', 'ZNF883', 'IFNK', 'KRTAP20-3', 'OR10V1', 'ALDOB', 'LRRC10', 'IPO5', 'PRR27', 'DLGAP2', 'TMEM210', 'PRODH2', 'ANKRD30BL', 'LMTK3', 'PCDHB16', 'KRT83', 'TMEM212', 'CSF2', 'TP53TG3', 'PRR23B', 'OR4K5', 'OR52B6', 'PRAF2', 'ZCCHC13', 'OR6C4', 'IFNL1', 'MRGPRX4', 'EIF4E1B', 'OR2G6', 'H4C9', 'APOC4', 'UBE2L5', 'NDST4', 'SPATA31A7', 'OR2T29', 'KCNJ10', 'PRY2', 'OR10A2', 'C10orf99', 'ZAR1L', 'LPAR3', 'SPRR4', 'FGF4', 'OR2L2', 'TAS1R2', 'LOC100505841', 'POU5F2', 'RNASE12', 'GJD3', 'ZNF804B', 'GP5', 'APOF', 'LYZL2', 'SLC9A4', 'AFM', 'OTOS', 'GJB4', 'OR1E2', 'CLDN6', 'OR5B2', 'C6orf201', 'PIP4K2B', 'CSN3', 'OR7G2', 'CCSAP', 'KRTAP15-1', 'ACTL8', 'HMX3', 'ANKDD1A', 'KRTAP12-2', 'USP17L1', 'IFNG', 'TFDP3', 'CDY2B', 'OR6P1', 'CDX4', 'TMOD4', 'SUPT20HL2', 'OR2AE1', 'SKOR1', 'MIP', 'MYRFL', 'TAS2R42', 'KRTAP4-1', 'ANXA2R', 'SMIM10L1', 'POU4F3', 'CALR3', 'OR3A3', 'KRTAP13-1', 'DBX1', 'NBPF4', 'OR4D1', 'SPATA16', 'TAS2R43', 'OR4X1', 'KIAA1210', 'CENPVL2', 'HOXA13', 'KRTAP4-12', 'PRR20C', 'TMEM191B', 'GPR31', 'ANKRD30B', 'KRTAP10-6', 'ZFHX4', 'KRTAP2-2', 'DGAT2L6', 'ATP10A', 'LPA', 'NEU2', 'PHLDA1', 'OR2J1', 'SPANXA2', 'H2BC10', 'KRTAP9-8', 'OR4F16', 'CSMD1', 'DPPA3', 'GALR3', 'CTAGE1', 'DPPA2', 'LOC388813', 'CT47A11', 'PRAMEF33', 'PRR23C', 'FSCB', 'AVPR1B', 'CTC1', 'SALL3', 'C7orf77', 'LHX5', 'PGLYRP3', 'LRRC74A', 'OR2V2', 'LINC02801', 'OR52E4', 'OR10Z1', 'OR8K1', 'OR10A6', 'OR8H1', 'DHRS4L1', 'UGT2B11', 'USP17L4', 'CDRT15L2', 'PAGE1', 'LAP3', 'CLDN17', 'GNG14', 'LIPM', 'CALCB', 'PSMD8', 'H4C3', 'CCL27', 'IQCF1', 'MTRNR2L3', 'SLC35G4', 'OR4C46', 'CRYGC', 'DEFB134', 'MAGEL2', 'OR8D1', 'TEX44', 'OR1L3', 'THBS2', 'PRR32', 'FAM83D', 'SLC9C2', 'AQP12A', 'FOXD4L5', 'C6orf58', 'OLIG3', 'ELOA3D', 'OR4C15', 'OR56A4', 'NME8', 'TEAD1', 'OR9Q2', 'MC3R', 'TMEM191C', 'LGALS13', 'MUC16', 'OR4F15', 'PPP4R3C', 'HMCN2', 'EGR4', 'OR4C6', 'OR6N2', 'CATSPERD', 'CLEC18C', 'LOC107986453', 'MT4', 'OR12D2', 'OR52L1', 'WDR97', 'CHRNG', 'CWC25', 'GAGE10', 'KRTAP19-3', 'MMP13', 'OR4K17', 'OR51I2', 'IRS4', 'SLC2A7', 'OR8J1', 'IRGC', 'OR1G1', 'DAZ1', 'OR52E8', 'OR2T11', 'OR5AP2', 'WFDC3', 'BARHL2', 'OR14A16', 'KLHL35', 'TRIM42', 'YIPF7', 'KRT12', 'QSER1', 'DEFB106A', 'ADGB', 'KRTAP10-7', 'OR10J3', 'PRLH', 'OR52D1', 'INSL4', 'EMX1', 'SMIM28', 'GAN', 'FNDC8', 'ERICH6B', 'OR9K2', 'H2AC7', 'OR4F3', 'OR13C5', 'TEX45', 'GUCA2B', 'OR8S1', 'POTED', 'FAM106B', 'OR2A2', 'GPX6', 'EML6', 'LCE3E', 'OR1L6', 'H2BS1', 'XAGE2', 'ERVFRD-1', 'OR8B12', 'C9orf147', 'MINDY4B', 'MT1HL1', 'KRT25', 'KRTAP12-4', 'AMY1B', 'IL12B', 'PRAMEF19', 'KERA', 'SAGE1', 'USP17L12', 'OR4C16', 'TKTL2', 'OR2T2', 'PNMA6F', 'ACSM6', 'EFCAB8', 'PRR20G', 'SLC45A1', 'FAM71C', 'DEFB115', 'COL17A1', 'ALX4', 'SLC26A10', 'OR2B3', 'KRTAP8-1', 'BPIFB3', 'LRCOL1', 'TRIM49D2', 'C3orf56', 'POM121C', 'PANX3', 'SEPTIN14', 'IFNA13', 'PRDM13', 'HSFX4', 'CT47A9', 'POTEF', 'AXDND1', 'KRTAP4-11', 'NHSL2', 'GNG13', 'LENEP', 'LHCGR', 'PKD1L3', 'ANP32D', 'OSTN', 'ABCG5', 'OR51B6', 'OR4F5', 'OR51G2', 'GPR55', 'OR2T34', 'SLC4A1AP', 'ADAM30', 'TBC1D3C', 'CT47A3', 'CAPN8', 'H2AC19', 'TRAPPC3L', 'MUC13', 'WDR64', 'LOC105372977', 'CCDC144A', 'NPIPB2', 'GDF2', 'VCX', 'OR10Q1', 'LHB', 'PRAMEF4', 'OR4K15', 'ACP4', 'KIF4B', 'GOLGA8J', 'KCNU1', 'LCE3C', 'USP17L27', 'ZNF705B', 'ARHGAP11A-SCG5', 'CLEC19A', 'TBX10', 'SEMG1', 'OR5H2', 'BTBD18', 'LCE1F', 'DEFB130A', 'NXPH1', 'TMEM132E', 'GPR32', 'GUCY2F', 'DEFB116', 'SERPINA7', 'OR5AR1', 'LPL', 'OR2T27', 'OR2D2', 'RFPL4A', 'MYH3', 'VN1R2', 'GAGE2E', 'KRTAP9-6', 'PRAMEF2', 'C8orf44-SGK3', 'GOLGA6L1', 'KRTAP1-1', 'TRPM8', 'DDI1', 'LOC101928764', 'ROS1', 'IFNA4', 'SLCO1B7', 'OR5M11', 'ARL15', 'UPK2', 'TPH2', 'KRTAP4-4', 'TEX51', 'BAHCC1', 'GAGE12C', 'FOXB1', 'OR4L1', 'MANSC4', 'KRTAP29-1', 'LCE4A', 'NPBWR2', 'ZG16', 'KRTAP12-3', 'ZNF541', 'ANKRD20A3', 'TAS2R7', 'HSFX2', 'NTN3', 'FBF1', 'USP17L7', 'SMIM23', 'P2RX3', 'BPIFB4', 'NATD1', 'RGPD4', 'C8G', 'ADIG', 'TREML4', 'OR10G6', 'TRH', 'LOC284898', 'PAGE2B', 'LYZL1', 'TCHH', 'OR12D1', 'C6orf118', 'PTPRQ', 'PAN3', 'MYF5', 'H3C1', 'MYH13', 'SPATA48', 'OR51J1', 'MBD3L4', 'CLC', 'GAGE2C', 'OR4K2', 'KIR2DL3', 'FBXO47', 'ZP4', 'KRTAP1-5', 'OR10T2', 'CCDC28A', 'DQX1', 'CT47B1', 'OPN1LW', 'DYTN', 'ALKAL1', 'ALLC', 'DCAF7', 'TLE7', 'OR4D10', 'HOXD12', 'DCAF12L1', 'PRR23D1', 'MFSD2B', 'CSNK1A1L', 'OR8J3', 'SMIM6', 'KHDC1L', 'KRTAP4-9', 'OVOL3', 'OR2AT4', 'OXA1L', 'TRIM51', 'C1orf185', 'SPATA31D4', 'CTAGE15', 'OR56A1', 'CYP3A7-CYP3A51P', 'MCIDAS', 'RP1', 'CABP5', 'KRT86', 'ATXN3L', 'LEUTX', 'PKNOX2', 'PPIAL4D', 'SARM1', 'SPDYC', 'MBD3L2B', 'GOLGA6D', 'KRTAP24-1', 'HSPB9', 'VSX2', 'EPYC', 'SERPINA11', 'LOC114841037', 'OR6B2', 'KRTAP22-1', 'MTRNR2L4', 'OR2V1', 'SPDYE5', 'SLC18A3', 'OR2M2', 'TTC34', 'C1orf87', 'OR2AG2', 'OR56A5', 'OR6C2', 'OR13C4', 'OR6Y1', 'RHO', 'OR1L8', 'LIX1L', 'OR5F1', 'ZNF648', 'TMEM265', 'GADL1', 'RPL10L', 'OR5B3', 'FABP9', 'MRPL30', 'MICALCL', 'OR4D11', 'OR4A5', 'NPIPB8', 'ELOA3B', 'OR52I2', 'SIGLEC15', 'OR8D4', 'TEKT3', 'CYP1B1', 'USP17L24', 'C8A', 'BHLHA9', 'FAM25A', 'OR4F29', 'TAS2R60', 'VWA5B1', 'MORC1', 'FAM9C', 'MEGF11', 'GPR101', 'CRYBB1', 'ZNF888', 'TEKT1', 'DMRTB1', 'OR52I1', 'C1orf146', 'SPATA31A6', 'FABP2', 'ANKRD20A4', 'GABRQ', 'OR13J1', 'GMNC', 'OR4N4', 'POTEG', 'SOST', 'KRT26', 'SFTA2', 'ADRA2B', 'TBC1D28', 'HOXD11', 'LRRIQ4', 'LIPJ', 'UGT2B17', 'OR7A10', 'FTCD-AS1', 'OR8K3', 'ZNF99', 'TRPV5', 'OR9G1', 'SLC35D3', 'EFCAB9', 'GCG', 'SPDYE3', 'DGAT1', 'SCGB2A2', 'AQP10', 'DUSP21', 'CCL16', 'OR5K4', 'PRCD', 'TOPAZ1', 'HSFX3', 'GSG1L2', 'CCL3L3', 'SULT2A1', 'FAM47A', 'COL20A1', 'ANKRD66', 'H2BC9', 'DMRTC1', 'URAD', 'MOS', 'GAPDHS', 'OR8B8', 'A3GALT2', 'DRD5', 'RIBC2', 'OR5B12', 'C18orf63', 'KRT34', 'RAD21L1', 'SPACA5', 'UGT1A10', 'OR2A5', 'KLF1', 'AADACL4', 'OR52A1', 'UNC93B1', 'OR2M3', 'ELOA3', 'KRT36', 'BHMG1', 'IFNA7', 'OR11H4', 'CYP2A6', 'TMEM190', 'SPTA1', 'TP53TG5', 'LOC101929372', 'OR6C75', 'ZNF679', 'AATF', 'SLC38A5', 'SMCP', 'ACOT12', 'OR10A3', 'S100Z', 'ALPI', 'TMC1', 'COX6B1', 'RXFP3', 'CTAGE6', 'NXPH2', 'ZNF735', 'OR2T33', 'OR4N5', 'AKR1C4', 'KRTAP10-12', 'FOXC1', 'OR7G1', 'TIMM8B', 'LCE6A', 'B2M', 'C9', 'KAT14', 'ZNF716', 'GAGE2B', 'TMEM211', 'MAGEA9B', 'MTRNR2L1', 'OR51A4', 'NOBOX', 'OR2AG1', 'CEBPE', 'OR6X1', 'CD300LD', 'ATP8B1', 'NEUROG1', 'TBX6', 'CGB8', 'TRIM39-RPP21', 'C1orf229', 'TMEM174', 'ZNF705G', 'H4C4', 'FAM81B', 'SRSF8', 'SPRR2F', 'PDHA2', 'OR4F4', 'NEUROD6', 'TMPRSS11D', 'R3HDML', 'OR51I1', 'XKRY2', 'C11orf97', 'BTN1A1', 'DMRTA2', 'OR51D1', 'OR5H15', 'OR2T10', 'PSG2', 'TMEM183B', 'SPANXN4', 'CPOX', 'POLR2A', 'ENPP1', 'CARD17', 'SPATA45', 'OR2B6', 'H3C12', 'SEMG2', 'IGFBP1', 'VRTN', 'SPATA3', 'OR52B4', 'SPPL2C', 'RPGRIP1', 'GML', 'DNAH17', 'CEACAM16', 'UGT1A3', 'TMPRSS11F', 'EBLN1', 'OR6J1', 'S1PR2', 'VCY', 'LOC100131107', 'OR2D3', 'SLC22A13', 'SRY', 'BSND', 'C11orf42', 'TTC24', 'IL9', 'LIPN', 'HTN3', 'RIMBP3', 'OR6C74', 'BMP10', 'SPINK14', 'ANP32C', 'WFDC6', 'LCN9', 'OR10P1', 'NXF5', 'CD177', 'MS4A10', 'PRAMEF13', 'CRH', 'SPATA31E1', 'GAST', 'GPR42', 'OR4Q3', 'C2orf92', 'OR6M1', 'SMCO2', 'SLC30A10', 'DMRTC2', 'OR10H1', 'GPR148', 'MAP3K15', 'FOXR1', 'GDPD4', 'SLC6A18', 'LCE2C', 'OR8G5', 'OR6K2', 'SPDYE16', 'HRG', 'OR12D3', 'CACNG2', 'MEI1', 'ZP1', 'OR52E1', 'HCRT', 'ACKR2', 'KRTAP13-4', 'ELSPBP1', 'KCNA7', 'MYOG', 'LOC100996413', 'USP17L29', 'SLC22A31', 'GPR21', 'GOLGA6B', 'TNFRSF9', 'GPR33', 'TGM4', 'COMMD3-BMI1', 'POTEH', 'ETDB', 'GPR75-ASB3', 'H2AC13', 'CFHR5', 'SLC7A13', 'DEFB131A', 'ANKS4B', 'POTEE', 'OR1J1', 'CLDN24', 'NXPE2', 'SMIM18', 'SPATA12', 'USP17L17', 'GRIFIN', 'CCL17', 'PRM3', 'OR10X1', 'RPL23', 'PADI1', 'USP17L15', 'ZNF385C', 'GAGE12H', 'GBP7', 'GPR158', 'CARD18', 'TRIM15', 'LRPAP1', 'KCNJ6', 'FIGLA', 'RNASE8', 'KRTAP12-1', 'GPR151', 'LRRC18', 'BPIFB6', 'DEFB114', 'SPCS1', 'ABCC2', 'LCE1A', 'OR52E5', 'H2BC15', 'MPC1L', 'NAT2', 'WFDC10A', 'MAGEA9', 'DNAJC14', 'OR8B2', 'C1orf167', 'FGF16', 'CCL15', 'OR5K1', 'CBLN2', 'SH3TC2', 'CXorf51A', 'DEFB113', 'NLRP10', 'IFNA21', 'OR9G4', 'MYH4', 'GNAZ', 'DUPD1', 'TOMM20L', 'KRT33A', 'LRRC74B', 'CXorf51B', 'ALOX12B', 'OR5D14', 'GLOD5', 'LBX1', 'ZAR1', 'OR2T5', 'C12orf76', 'OR51S1', 'H2AB1', 'HTR6', 'OR2L5', 'GJB7', 'ACTRT1', 'PABPC1L', 'OR6C76', 'CCDC105', 'OC90', 'OR51F2', 'NPAP1L', 'OR8I2', 'GJA8', 'OR5K3', 'SPATA31C1', 'TP53TG3C', 'H2BC13', 'FABP12', 'PGLYRP4', 'GGT2', 'NCAN', 'PRR9', 'AADACL3', 'MYO15B', 'GPR50', 'FAM47B', 'OR2A12', 'USP17L22', 'SLC15A5', 'INSL6', 'TMPRSS15', 'H1-1', 'CYP2C19', 'VCX3B', 'OR2L8', 'OR1N2', 'OR10A7', 'IGFL1', 'TRIM49', 'OR14I1', 'VGLL1', 'SLC10A1', 'OR1A2', 'TUBB8B', 'OR1J4', 'LOC647264', 'FOXF2', 'PRDM9', 'GIGYF1', 'TEN1', 'BPY2', 'REN', 'SRD5A2', 'HOTS', 'C17orf67', 'SLC38A3', 'OR9A4', 'PRAMEF5', 'IFNA8', 'OR13D1', 'C4orf54', 'DEFB128', 'H4C5', 'H2BC11', 'OR11L1', 'LCE1D', 'GSTT4', 'SPIC', 'TMEM213', 'C16orf82', 'FAM221B', 'OR51A2', 'OR5B17', 'OR14K1', 'OR14C36', 'CCDC179', 'KRT39', 'TMEM275', 'OR4S1', 'KRTAP5-6', 'OPN1MW2', 'PREP', 'BPY2B', 'OR5D18', 'ZNF280B', 'KRT3', 'PTF1A', 'LOC105378979', 'PRKACG', 'PRLHR', 'OR4N2', 'KRTAP9-4', 'OR52K2', 'TSPY4', 'KCNV1', 'LOC645177', 'SRCIN1', 'BFSP2', 'KRTAP10-5', 'LCE1B', 'DNAJB13', 'CYLC2', 'ZNF765-ZNF761', 'FCGBP', 'USP17L2', 'SYNGR4', 'ZNRF4', 'PECAM1', 'SCP2D1', 'LOC101928841', 'KLHDC7B', 'IQCF5', 'C7orf66', 'LOC102723899', 'FAM25E', 'FAM187B', 'SLFN14', 'LACRT', 'PRB2', 'SPRR2B', 'F8A1', 'LY6G6F', 'SMIM9', 'DNALI1', 'OR6C1', 'SAA2-SAA4', 'ANKRD30A', 'OR10W1', 'BMP15', 'CYP4F8', 'MUC3A', 'C12orf71', 'SYCE3', 'OR11A1', 'SPDYE17', 'KISS1', 'ANKRD7', 'RBP3', 'MAGEB6', 'PRDM14', 'KRT28', 'TYR', 'TSPAN19', 'OPLAH', 'LRP2', 'TMCO2', 'TRIM48', 'CNGB3', 'H2BW2', 'COX8C', 'SLC28A2', 'CCDC38', 'IFIT1B', 'MGMT', 'OR2G3', 'LY6L', 'C1orf68', 'MAGEB10', 'ABCA13', 'LMLN2', 'PRAMEF15', 'OR2W5', 'H4C6', 'OR5B21', 'CST1', 'C11orf16', 'PIEZO2', 'TBC1D3F', 'DUSP27', 'NFE4', 'C9orf163', 'LIMS3', 'KIR3DL1', 'SPZ1', 'LHFPL5', 'OR6N1', 'IFNW1', 'PRAMEF7', 'NAA11', 'TUBA4B', 'TAS2R13', 'NMS', 'MTRNR2L5', 'OR5AL1', 'OR52W1', 'H2AC12', 'GPHB5', 'OR2M4', 'KRTAP5-11', 'LOC730183', 'CCDC155', 'APOL5', 'OR2T4', 'UBTFL1', 'TRIM6-TRIM34', 'SLC5A12', 'OR4B1', 'LOC102724957', 'OR2AP1', 'OR10G4', 'RNF103-CHMP3', 'OR6V1', 'GRID2IP', 'C4orf51', 'OPN5', 'PF4V1', 'GAGE2D', 'GPR78', 'H3C3', 'RD3L', 'OR2W1', 'FUT5', 'RAX', 'KRTAP13-3', 'RTL9', 'CEACAM18', 'ETV3L', 'ART1', 'KRT38', 'FGF21', 'NKAIN3', 'UCP2', 'OR7G3', 'FER1L6', 'RNF222', 'SPACA5B', 'CYP2F1', 'ENTHD1', 'FEZF2', 'DEFB108B', 'VEGFC', 'KLRF2', 'PRR20E', 'DEUP1', 'TNFSF18', 'ZNF705D', 'DEFB124', 'MRGPRG', 'INSL5', 'PRR5-ARHGAP8', 'HBM', 'NKX2-6', 'ABCC12', 'OR2G2', 'CD1B', 'OCSTAMP', 'PRAMEF12', 'MAP1LC3B2', 'USP50', 'ACOD1', 'GCM1', 'WFDC9', 'UGT1A9', 'OR14A2', 'LOC643802', 'OR2T35', 'KRTAP22-2', 'SLC17A1', 'NANOGNB', 'SOX14', 'CGB3', 'RSPH6A', 'CHRNA9', 'PAGR1', 'MACF1', 'SCGB1D1', 'DEFB125', 'OR56B1', 'ANKAR', 'CCL3L1', 'FXYD4', 'CEACAM8', 'H3C10', 'KRTAP20-2', 'GAGE13', 'PATE1', 'SCGB2B2', 'SCGB1A1', 'OR5AK2', 'DEFB118', 'SCX', 'OR2AK2', 'ERV3-1-ZNF117', 'C5orf47', 'NANOGP8', 'POU5F1B', 'UGT1A4', 'SUPT20HL1', 'OR2Z1', 'NLRP2B', 'LHX1', 'OR5V1', 'INSM2', 'OR14J1', 'C19orf67', 'CCDC177', 'F8A2', 'ARMH1', 'TSPY8', 'PHOX2B', 'FAM217A', 'FGF23', 'ARL14', 'OLIG2', 'DEFB112', 'OR5L1', 'PLEKHA2', 'ADAMTS20', 'LIN28A', 'FAM71D', 'KIAA1107', 'LOC100506422', 'ATP6AP2', 'SLC35G6', 'TCF23', 'DCAF13', 'HEPHL1', 'OR2F2', 'FGFBP1', 'SLC6A14', 'IL22', 'CDY2A', 'FAM86B1', 'NAT8', 'GJA10', 'DEFB123', 'NUTM2F', 'FHAD1', 'HTR1A', 'OR8D2', 'USP17L25', 'OR51B4', 'LY6G6F-LY6G6D', 'LINC01638', 'OR4F21', 'SETSIP', 'PLCD3', 'TAS2R8', 'NDP', 'DUXA', 'BECN2', 'C7orf65', 'FRMPD3', 'CACNA2D4', 'MEIG1', 'AMBN', 'HCRTR1', 'GBX1', 'C4orf17', 'HIGD1C', 'LCE2B', 'HMX2', 'FAM106C', 'KRTAP19-4', 'RPEL1', 'CACNG7', 'LRIT1', 'GPRC5D', 'C19orf84', 'UPK3B', 'PADI6', 'SPANXA1', 'ODAM', 'PLA2G4E', 'OR6Q1', 'H3Y1', 'NEUROD2', 'OR10H5', 'OOSP2', 'TRPM5', 'OPRD1', 'PRY', 'SIPA1L2', 'SETDB2-PHF11', 'OR11H2', 'OR10G7', 'TEX50', 'C5orf52', 'DPEP2NB', 'APCS', 'PRR23D2', 'H4C1', 'CRYGB', 'EXOC5', 'LOC389602', 'CST9', 'C4orf45', 'IL27', 'OTP', 'PYDC2', 'C3orf49', 'MTNR1B', 'TRHR', 'LCE3A', 'SPANXD', 'TCF24', 'MAGEB2', 'OR4K3', 'TIMM23', 'OR2Y1', 'CFAP99', 'DAO', 'AGBL1', 'ABCB11', 'CELA1', 'ENPP7', 'SPEM2', 'TSPY3', 'IL36A', 'RBMY1J', 'GAGE2A', 'ARGFX', 'VSIG10L2', 'SWSAP1', 'MAGEC2', 'BARX1', 'KLF14', 'H2BC3', 'CD160', 'HFM1', 'DPRX', 'SNX25', 'A1BG', 'MAGEB5', 'DEFB135', 'TEX43', 'TBPL2', 'ACTB', 'OR4K14', 'SLC22A2', 'PFN3', 'OR52E2', 'FAM153A', 'CLEC4O', 'PRND', 'BPIFB1', 'AKNAD1', 'MRC1', 'CXorf65', 'CPN1', 'HCRTR2', 'SLC24A5', 'WFDC12', 'CIB4', 'KRTAP1-4', 'LCE2D', 'EPOP', 'NR5A1', 'CCL4', 'CAPN5', 'GGNBP2', 'OR5D13', 'IGF2BP3', 'MUC19', 'KRTAP19-8', 'ADAM7', 'CT83', 'DEFB131B', 'MS4A6E', 'OR4C5', 'GSX1', 'RNASE10', 'MBD3L2', 'OR5T3', 'PRICKLE4', 'PBOV1', 'IQCA1L', 'AGTR2', 'TERB2', 'VN1R3', 'TRPC5', 'LRRC52', 'CDC14C', 'NELFCD', 'CT45A8', 'ASB12', 'KAAG1', 'AGBL2', 'TPPP2', 'PATE3', 'CRYGD', 'C20orf85', 'OR2L3', 'OR52R1', 'UCP1', 'OR9Q1', 'SMIM31', 'C20orf204', 'LOC150051', 'OR5A1', 'TRIML1', 'EVX2', 'PRRT1B', 'SLC36A2', 'OTOP1', 'INS-IGF2', 'H4C12', 'C8orf49', 'OR1D5', 'IQCF2', 'PRB3', 'MMP10', 'KCNA10', 'KIF2B', 'KRTAP4-7', 'TGIF2LY', 'ASCL3', 'CATSPER4', 'DGKK', 'PSMB11', 'C22orf42', 'TMEM244', 'H2AC14', 'SPANXN3', 'COL10A1', 'TSPYL6', 'H2AC17', 'TAS2R16', 'FOLH1B', 'TRIM64', 'PPM1N', 'BSPH1', 'TMC3', 'OR3A1', 'IFNA2', 'LIPK', 'GK2', 'IFITM5', 'SLITRK6', 'KRTAP4-2', 'KRTAP21-2', 'CCDC62', 'CCDC196', 'IL3', 'OCM2', 'MAGEA5', 'CRYBA1', 'OR4C12', 'OR4E2', 'CLDND2', 'H2BE1', 'NANOS3', 'POLR2J3', 'CXorf49B', 'OR51F1', 'KLF18', 'ANXA10', 'VCX2', 'GCNT4', 'CT47A8', 'LCE3D', 'TTLL8', 'GIPC3', 'KRTAP2-1', 'RNASEK', 'PRR20D', 'GFY', 'SPINK4', 'PRDM7', 'GNAT2', 'MSMP', 'H2BC7', 'RFPL1', 'RASL10B', 'NXF2', 'HBD', 'GNAT3', 'DUOXA2', 'SLC5A2', 'ARHGAP11B', 'KRTAP9-2', 'CST7', 'MTRNR2L10', 'MUC17', 'FAM240A', 'PNPO', 'CBWD6', 'LOC100996842', 'PROKR2', 'KRTAP7-1', 'LMNB2', 'KCNK9', 'HAO1', 'H4C14', 'SIRPD', 'RESP18', 'EIF4A3', 'SMLR1', 'OR7C2', 'PVALEF', 'MYO7B', 'USP26', 'PSG3', 'OR9I1', 'TMEM202', 'GSX2', 'FAM183A', 'OR4D2', 'EIF2B5', 'DEFB107A', 'IFNA17', 'PITX3', 'AQP8', 'BOD1L2', 'CLDN25', 'GPR149', 'KRTAP5-10', 'LOC388282', 'RHOXF2', 'SCT', 'SCRT1', 'ETDA', 'KRTAP4-5', 'MYO15A', 'DEFB105B', 'KRTAP4-8', 'KIAA0754', 'GLYATL3', 'TRIM43', 'TEX53', 'C9orf62', 'RSPH10B2', 'C13orf42', 'OR4A47', 'MYADML2', 'MTAP', 'C1orf189', 'SPINK9', 'PERCC1', 'PRSS33', 'MBD3L3', 'FOXO6', 'FTHL17', 'PRAMEF25', 'IBSP', 'TAS2R50', 'RXFP4', 'DEFB132', 'WFDC5', 'OR2M5', 'MUC12', 'LCE1E', 'NCBP2L', 'SSX3', 'CCDC54', 'OR4A16', 'H2AC15', 'KRT74', 'MAGEC1', 'SLC6A4', 'SPANXN5', 'USP29', 'CLDN34', 'FOXR2', 'TAAR8', 'LCE3B', 'OTOR', 'FOXN4', 'SLC38A8', 'CT47A5', 'FAM170B', 'SIX1', 'GOLGA6L10', 'RIMBP3C', 'OR6C6', 'POTEC', 'INHBC', 'FADS6', 'RNF115', 'UBE2Q2L', 'OR51H1', 'LOC389895', 'SERTM2', 'ZC2HC1B', 'RAB6D', 'OR52Z1', 'RPS10-NUDT3', 'OTUD6A', 'AWAT2', 'PRAMEF10', 'CNBD1', 'ASCL5', 'MC4R', 'SPINK7', 'SHISAL2B', 'KRTAP3-3', 'LGALS16', 'HTR3C', 'FAM71B', 'PLEKHG4B', 'OR13A1', 'OR4S2', 'EPPIN-WFDC6', 'TRIM73', 'OR4C13', 'FAM169B', 'OR4F6', 'PMCH', 'OR5W2', 'LCA5L', 'ARMS2', 'C3orf22', 'CYP2B6', 'CT47A2', 'KRTAP11-1', 'ALX3', 'USP17L3', 'C11orf91', 'SCGB1C1', 'OR5A2', 'MYH8', 'OR6B3', 'LRRC72', 'GJD4', 'PSKH2', 'F8A3', 'NKX1-2', 'KRT33B', 'H2BU1', 'PDILT', 'RBMY1E', 'EIF3F', 'CCER1', 'DEFB105A', 'ACTL9', 'RUFY4', 'MS4A18', 'POM121L2', 'OLIG1', 'TUBA3C', 'GAS2L2', 'OR1Q1', 'H1-5', 'KRTAP4-3', 'PAQR7', 'IFIH1', 'GALK1', 'ABHD14A-ACY1', 'TMEM89', 'C21orf59-TCP10L', 'NPHS1', 'USP17L10', 'FOXB2', 'C2orf80', 'PDX1', 'RTP1', 'KRTAP23-1', 'PSPN', 'MAS1L', 'PANO1', 'GAGE12I', 'OR13C3', 'CGB5', 'LRRC9', 'DEFB127', 'TFF2', 'ALPG', 'KISS1R', 'PRAMEF8', 'CETN1', 'OR51M1', 'OOSP4B', 'PRR30', 'KRTAP25-1', 'AIRE', 'RTP2', 'LOC112577516', 'MS4A5', 'GREB1L', 'ZNF280A', 'GPR179', 'FOXL2', 'OR2B2', 'KIAA1549L', 'MMAA', 'UGT1A1', 'MEP1A', 'TEX13C', 'TNP1', 'USP17L30', 'TSPAN32', 'OR6A2', 'TIFAB', 'CT47A6', 'SMIM33', 'CT47A12', 'TSSK1B', 'H3-4', 'IFNA6', 'KRTAP6-1', 'FATE1', 'ACTL7B', 'TEX47', 'FGF6', 'GDF10', 'OR9A2', 'KRTAP9-7', 'SLC6A19', 'KRT76', 'GPA33', 'CYP4F2', 'OR11G2', 'FOXC2', 'OR4K1', 'OR4P4', 'OR7A17', 'GPR25', 'ANKRD62', 'OR2A42', 'ANKRD24', 'OR1K1', 'OR2T3', 'CCDC182', 'H4C8', 'C19orf81', 'OR5M1', 'MLNR', 'OR10H3', 'OR5J2', 'MST1L', 'CTAG1B', 'SBK2', 'CENPVL3', 'NKX1-1', 'KRT71', 'WIPF3', 'OR2A14', 'MYH7B', 'KRT40', 'SLC17A6', 'IDO1', 'NEUROG2', 'GRIP2', 'H2BW1', 'DEFA6', 'IFNA16', 'KDSR', 'OR1N1', 'ACTL10', 'HHLA1', 'SLC22A10', 'GABRA6', 'OR8A1', 'LOC389199', 'PRSS16', 'SPRED3', 'MRM1', 'OR1L4', 'AWAT1', 'KRTAP10-3', 'EXOC3L2', 'VN1R4', 'OR6C70', 'GPR119', 'RIPPLY2', 'STRA8', 'POTEB', 'FAM25C', 'KCNG4', 'KRTAP10-4', 'BRCA2', 'HSF5', 'TRIM64C', 'OR6T1', 'CPHXL', 'TA

In [38]:
pd.options.display.max_rows = 100
df.sort_values(by=0, ascending=False).head(100)

           0
Corf     119
KRTAP     89
SLCA      75
LOC       48
ORA       44
ORC       34
CCDC      32
TMEM      32
ORB       28
ZNF       28
KRT       27
ORD       26
GPR       26
USPL      25
ORK       25
HC        23
ORH       22
TEX       22
ORT       22
ORG       21
DEFB      20
PRAMEF    19
ORJ       18
ORF       18
FAMA      18
TASR      18
ORM       17
FAMB      17
CTA       17
TRIM      16
IL        16
ORL       16
LRRC      14
SMIM      13
IFNA      13
CCL       13
PRSS      13
ORE       12
UGTA      12
HAC       12
HBC       11
SPATA     11
FAMC      11
ORN       10
MAGEA     10
DEFBB     10
MAGEB     10
PSG       10
FGF        9
ORS        9
ORI        9
COLA       9
PRR        8
MSA        8
WFDC       8
CYPA       8
ANKRD      8
NLRP       8
SPINK      8
CDH        8
MTRNRL     8
MUC        8
CFAP       8
CST        8
DEFBA      8
WDR        8
ORQ        7
NKX        7
CLDN       7
UGTB       7
NBPF       7
DNAH       7
SPDYE      7
CEACAM     6
TSPY       6
TAAR       6
ANKRDA     6
KIRDL      6
GOLGAL     6
SERPINA    6
RNF        6
KLK        6
ASB        6
PAX        6
LCEA       6
ORV        6
MMP        6
ORW        6
DDX        6
SSX        6
POUF       6
H          5
PRDM       5
LCN        5
ADAM       5
ATPB       5
CLECA      5
CGB        5
MBDL       5
SPATAA     5

In [47]:
t = pd.read_parquet("/gstock/EXOTIC/data/VARIATIONS/CCRS_modified_refseq_corrected_Rdata.parquet")
t

,Gene,RefSeq_Chrom,CCRS_ranges,CCRS_Start,CCRS_End,CCRS_CCR_percentile,Missing_coverage_bp,Gap_with_previous_CCRS,ranges,Ratio_num,...,CCR_95_99_bool,CCR_99_100_bool,CCR_95_100_bool,Constitutive,Alternative,Cat80100,Cat6080,Cat4060,Cat2040,Cat0020
0,A2M,12,9220421-9220435,9220421,9220435,94.960308,0.0,None,9220419-9220435,1.0,...,False,False,False,True,False,False,False,False,False,False
1,A2M,12,9220792-9220793,9220792,9220793,0.000000,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
2,A2M,12,9220793-9220810,9220793,9220810,72.870475,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
3,A2M,12,9220810-9220811,9220810,9220811,0.000000,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
4,A2M,12,9220811-9220820,9220811,9220820,96.319079,0.0,None,9220779-9220820,1.0,...,True,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605118,ZXDC,3,126194500-126194505,126194500,126194505,0.204138,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605119,ZXDC,3,126194505-126194506,126194505,126194506,0.000000,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605120,ZXDC,3,126194506-126194508,126194506,126194508,2.763944,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605121,ZXDC,3,126194508-126194509,126194508,126194509,0.000000,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605122,ZXDC,3,126194509-126194512,126194509,126194512,0.036429,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False

In [50]:
t.drop_duplicates(subset=['Gene', 'ranges', 'CCRS_ranges'])

,Gene,RefSeq_Chrom,CCRS_ranges,CCRS_Start,CCRS_End,CCRS_CCR_percentile,Missing_coverage_bp,Gap_with_previous_CCRS,ranges,Ratio_num,...,CCR_95_99_bool,CCR_99_100_bool,CCR_95_100_bool,Constitutive,Alternative,Cat80100,Cat6080,Cat4060,Cat2040,Cat0020
0,A2M,12,9220421-9220435,9220421,9220435,94.960308,0.0,None,9220419-9220435,1.0,...,False,False,False,True,False,False,False,False,False,False
1,A2M,12,9220792-9220793,9220792,9220793,0.000000,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
2,A2M,12,9220793-9220810,9220793,9220810,72.870475,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
3,A2M,12,9220810-9220811,9220810,9220811,0.000000,0.0,None,9220779-9220820,1.0,...,False,False,False,True,False,False,False,False,False,False
4,A2M,12,9220811-9220820,9220811,9220820,96.319079,0.0,None,9220779-9220820,1.0,...,True,False,True,True,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1605118,ZXDC,3,126194500-126194505,126194500,126194505,0.204138,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605119,ZXDC,3,126194505-126194506,126194505,126194506,0.000000,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605120,ZXDC,3,126194506-126194508,126194506,126194508,2.763944,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605121,ZXDC,3,126194508-126194509,126194508,126194509,0.000000,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False
1605122,ZXDC,3,126194509-126194512,126194509,126194512,0.036429,0.0,None,126193802-126194708,1.0,...,False,False,False,True,False,False,False,False,False,False

In [39]:
import sys
sys.path.append("/home/weber/PycharmProjects/EXOTIC/clean/src")
from utils import utils
yaml = utils.load_config_file(config_file="/home/weber/PycharmProjects/EXOTIC/clean/src/config_clean_clean.yaml")

In [34]:
import pandas as pd
df = pd.read_parquet(yaml["1_GENOMICS"]["Final"]["refseq_cds_with_variable"])

In [35]:
df.loc[df['mRNA_gene_nb'] > 1, ['Gene', 'mRNA_gene_nb']].drop_duplicates()

          Gene  mRNA_gene_nb
8         A1CF             8
21         A2M             4
59       A2ML1             2
100     A4GALT             2
103       AAAS             2
...        ...           ...
213119   ZWINT             3
213131    ZXDC             2
213142  ZYG11A             2
213171     ZYX             3
213235    ZZZ3             2

[10937 rows x 2 columns]

In [26]:
df

,Gene,Exon_type,ranges,mRNA_exons,Exon_start,Exon_stop,Length,Strand,mRNA_exons_nb,mRNA_gene,mRNA_gene_nb,Ratio,Ratio_num,Const_Alt
0,A1BG,Exon,58856549-58858395,[NM_130786],58856549,58858395,1846,0,1,[NM_130786],1,1/1,1.0,Const
1,A1BG,CDS,58858388-58858395,[NM_130786],58858388,58858395,7,0,1,[NM_130786],1,1/1,1.0,Const
2,A1BG,CDS,58858719-58859006,[NM_130786],58858719,58859006,287,0,1,[NM_130786],1,1/1,1.0,Const
3,A1BG,Exon,58858719-58859006,[NM_130786],58858719,58859006,287,0,1,[NM_130786],1,1/1,1.0,Const
4,A1BG,CDS,58861736-58862017,[NM_130786],58861736,58862017,281,0,1,[NM_130786],1,1/1,1.0,Const
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446750,ZZZ3,Exon,78105134-78105287,"[NM_001308237, NM_015534]",78105134,78105287,153,0,2,"[NM_015534, NM_001308237]",2,2/2,1.0,Const
446751,ZZZ3,Exon,78107069-78107131,"[NM_001308237, NM_015534]",78107069,78107131,62,0,2,"[NM_015534, NM_001308237]",2,2/2,1.0,Const
446752,ZZZ3,Exon,78107207-78107340,"[NM_001308237, NM_015534]",78107207,78107340,133,0,2,"[NM_015534, NM_001308237]",2,2/2,1.0,Const
446753,ZZZ3,Exon,78148270-78148343,[NM_015534],78148270,78148343,73,0,1,"[NM_015534, NM_001308237]",2,1/2,0.5,Alt
446754,ZZZ3,Exon,78148947-78149112,[NM_001308237],78148947,78149112,165,0,1,"[NM_015534, NM_001308237]",2,1/2,0.5,Alt

In [21]:
df.Gene.nunique()

19306

In [36]:
df.loc[df['Exon_type'] == 'CDS'].drop_duplicates(subset=['Gene', 'ranges'])['Const_Alt'].value_counts()

Const    158667
Alt       54515
Name: Const_Alt, dtype: int64

In [37]:
df.loc[(df['mRNA_gene_nb'] > 1 ) & (df['Exon_type'] == 'CDS')].drop_duplicates(subset=['Gene', 'ranges'])['Const_Alt'].value_counts()

Const    90073
Alt      54515
Name: Const_Alt, dtype: int64

In [40]:
utrs = pd.read_parquet(yaml["1_GENOMICS"]["Final"]["refseq_miso_utrs"])

In [42]:
df.loc[(~df['Gene'].isin(utrs.loc[utrs['Nb_combi'] == 1].Gene.values.tolist()) ) & (df['mRNA_gene_nb'] > 1 ) & (df['Exon_type'] == 'CDS')].drop_duplicates(subset=['Gene', 'ranges'])['Const_Alt'].value_counts()

Const    82152
Alt      54515
Name: Const_Alt, dtype: int64

In [16]:
df2 = pd.read_csv('/home/weber/PycharmProjects/ExoCarto/data/2_processed/DF_transformed.csv.gz', compression='gzip', sep='\t')
df2['Ratio_num'] = df2['Ratio'].apply(eval)
df2.loc[df2['Ratio_num'] < 1, 'Const_Alt'] = 'Alt'
df2.loc[df2['Ratio_num'] == 1, 'Const_Alt'] = 'Const'

/home/weber/.conda/envs/ExoCarto/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df2

,Gene,Chrom,Start,End,ranges,Length,GeneID,HGNC,CDS_representation,Ratio,Sharing_status,Sources,Count_CDS_alternative,Count_CDS_constitutive,mRNA_IDS,mRNA_nb,Ratio_num,Const_Alt
0,OR4F5,1,69091,70008,69091-70008,917,79501,14825.0,Unique,1.0/1,False,"[(69091, 70008, '1.0/1')]",0,1,['NM_001005484.1'],1,1.0,Const
1,OR4F29,1,367659,368597,367659-368597,938,729759,31275.0,Unique,1.0/1,False,"[(367659, 368597, '1.0/1')]",0,1,['NM_001005221.2'],1,1.0,Const
2,OR4F16,1,621096,622034,621096-622034,938,81399,15079.0,Unique,1.0/1,False,"[(621096, 622034, '1.0/1')]",0,1,['NM_001005277.1'],1,1.0,Const
3,SAMD11,1,861322,861393,861322-861393,71,148398,28706.0,Unique,1.0/1,False,"[(861322, 861393, '1.0/1')]",0,13,['NM_152486.3'],1,1.0,Const
4,SAMD11,1,865535,865716,865535-865716,181,148398,28706.0,Unique,1.0/1,False,"[(865535, 865716, '1.0/1')]",0,13,['NM_152486.3'],1,1.0,Const
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238564,CDY1,Y,27768590,27770181,27768590-27770181,1591,9085,1809.0,Variable_region,2.0/2,True,"[(27768590, 27770181, '1.0/2'), (27768590, 277...",2,1,"['NM_004680.2', 'NM_170723.1']",2,1.0,Const
238565,CDY1,Y,27770181,27770212,27770181-27770212,31,9085,1809.0,Variable_region,1.0/2,True,"[(27768590, 27770212, '1.0/2')]",2,1,"['NM_004680.2', 'NM_170723.1']",2,0.5,Alt
238566,CDY1,Y,27770181,27770212,27770181-27770212,31,9085,1809.0,Variable_region,1.0/2,True,"[(27768590, 27770212, '1.0/2')]",2,1,"['NM_004680.2', 'NM_170723.1']",2,0.5,Alt
238567,CDY1,Y,27770602,27770674,27770602-27770674,72,9085,1809.0,Unique,1.0/2,False,"[(27770602, 27770674, '1.0/2')]",2,1,"['NM_004680.2', 'NM_170723.1']",2,0.5,Alt
238568,CDY1,Y,27770602,27770674,27770602-27770674,72,9085,1809.0,Unique,1.0/2,False,"[(27770602, 27770674, '1.0/2')]",2,1,"['NM_004680.2', 'NM_170723.1']",2,0.5,Alt

In [19]:
df2.Gene.nunique()

19260

In [22]:
df2.drop_duplicates(subset=['Gene', 'ranges'])['Const_Alt'].value_counts()

Const    161705
Alt       50897
Name: Const_Alt, dtype: int64

In [24]:
df2.loc[df2['mRNA_nb'] > 1 ].drop_duplicates(subset=['Gene', 'ranges'])['Const_Alt'].value_counts()

Const    93326
Alt      50897
Name: Const_Alt, dtype: int64

In [7]:
yaml = load_config_file(config_file="../clean/src/config_clean_clean.yaml")

refseq = pd.read_parquet(yaml["2_EXPRESSION"]["Final"]["refseq_corrected_cds_recomputed"])
biomart = pd.read_csv(yaml["1_GENOMICS"]["External"]["biomart"], compression="gzip", sep="\t")

# biomart = (
#     biomart[["Gene stable ID", "HGNC ID", "Gene name", "Chromosome/scaffold name"]]
#     .rename(
#         {"Gene stable ID": "ENSG", "HGNC ID": "HGNC", "Gene name": "Gene", "Chromosome/scaffold name" : "CHROM"},
#         axis=1,
#     )
#     .drop_duplicates()
# )



biomart.loc[biomart['APPRIS annotation'] == 'principal1', '']
# biomart['APPRIS annotation'].value_counts()

,Gene stable ID,Gene end (bp),Gene start (bp),Gene name,Transcript start (bp),Transcript end (bp),Transcription start site (TSS),Transcript stable ID,Transcript support level (TSL),APPRIS annotation,Transcript type,Gene type,HGNC ID,RefSeq mRNA ID,Chromosome/scaffold name
0,ENSG00000198888,4262,3307,MT-ND1,3307,4262,3307,ENST00000361390,tslNA,principal1,protein_coding,protein_coding,HGNC:7455,NaN,MT
1,ENSG00000198763,5511,4470,MT-ND2,4470,5511,4470,ENST00000361453,tslNA,principal1,protein_coding,protein_coding,HGNC:7456,NaN,MT
2,ENSG00000198804,7445,5904,MT-CO1,5904,7445,5904,ENST00000361624,tslNA,principal1,protein_coding,protein_coding,HGNC:7419,NaN,MT
3,ENSG00000198712,8269,7586,MT-CO2,7586,8269,7586,ENST00000361739,tslNA,principal1,protein_coding,protein_coding,HGNC:7421,NaN,MT
4,ENSG00000228253,8572,8366,MT-ATP8,8366,8572,8366,ENST00000361851,tslNA,principal1,protein_coding,protein_coding,HGNC:7415,NaN,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194898,ENSG00000175137,248825915,248810446,SH3BP5L,248810446,248825915,248825915,ENST00000366472,tsl1 (assigned to previous version 5),principal1,protein_coding,protein_coding,HGNC:29360,NM_030645,1
194899,ENSG00000175137,248825915,248810446,SH3BP5L,248810446,248825915,248825915,ENST00000366472,tsl1 (assigned to previous version 5),principal1,protein_coding,protein_coding,HGNC:29360,NM_001322464,1
194900,ENSG00000175137,248825915,248810446,SH3BP5L,248810446,248825915,248825915,ENST00000366472,tsl1 (assigned to previous version 5),principal1,protein_coding,protein_coding,HGNC:29360,NM_001322463,1
194904,ENSG00000171161,248849517,248838210,ZNF672,248838224,248849517,248838224,ENST00000306562,tsl1 (assigned to previous version 7),principal1,protein_coding,protein_coding,HGNC:26179,NM_024836,1
194942,ENSG00000185220,248919946,248906196,PGBD2,248906235,248919146,248906235,ENST00000329291,tsl1 (assigned to previous version 5),principal1,protein_coding,protein_coding,HGNC:19399,NM_170725,1

In [8]:
pd.read_csv(yaml["1_GENOMICS"]["External"]["biomart"], compression="gzip", sep="\t")

/home/weber/.conda/envs/ExoCarto/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Gene stable ID,Gene end (bp),Gene start (bp),Gene name,Transcript start (bp),Transcript end (bp),Transcription start site (TSS),Transcript stable ID,Transcript support level (TSL),APPRIS annotation,Transcript type,Gene type,HGNC ID,RefSeq mRNA ID,Chromosome/scaffold name
0,ENSG00000198888,4262,3307,MT-ND1,3307,4262,3307,ENST00000361390,tslNA,principal1,protein_coding,protein_coding,HGNC:7455,NaN,MT
1,ENSG00000198763,5511,4470,MT-ND2,4470,5511,4470,ENST00000361453,tslNA,principal1,protein_coding,protein_coding,HGNC:7456,NaN,MT
2,ENSG00000198804,7445,5904,MT-CO1,5904,7445,5904,ENST00000361624,tslNA,principal1,protein_coding,protein_coding,HGNC:7419,NaN,MT
3,ENSG00000198712,8269,7586,MT-CO2,7586,8269,7586,ENST00000361739,tslNA,principal1,protein_coding,protein_coding,HGNC:7421,NaN,MT
4,ENSG00000228253,8572,8366,MT-ATP8,8366,8572,8366,ENST00000361851,tslNA,principal1,protein_coding,protein_coding,HGNC:7415,NaN,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194939,ENSG00000171163,248859144,248850006,ZNF692,248857865,248859144,248859144,ENST00000534456,tsl4,NaN,retained_intron,protein_coding,HGNC:26049,NaN,1
194940,ENSG00000171163,248859144,248850006,ZNF692,248857975,248859033,248859033,ENST00000533976,tsl4,NaN,retained_intron,protein_coding,HGNC:26049,NaN,1
194941,ENSG00000185220,248919946,248906196,PGBD2,248906196,248919946,248906196,ENST00000355360,tsl1,NaN,protein_coding,protein_coding,HGNC:19399,NM_001017434,1
194942,ENSG00000185220,248919946,248906196,PGBD2,248906235,248919146,248906235,ENST00000329291,tsl1 (assigned to previous version 5),principal1,protein_coding,protein_coding,HGNC:19399,NM_170725,1
194943,ENSG00000185220,248919946,248906196,PGBD2,248906372,248917401,248906372,ENST00000462488,tsl5,NaN,processed_transcript,protein_coding,HGNC:19399,NaN,1

In [17]:
refseq2 = pd.merge(refseq, biomart, on="Gene")
refseq2['CHROM'] = refseq2['CHROM'].astype(str)
refseq2 = refseq2.loc[~refseq2['CHROM'].str.contains('HSCHR|HG')]
refseq2

,Gene,ranges,mRNA_exons,mRNA_nb,Share,Strand,mRNA_gene,mRNA_nb_total,Ratio,Ratio_num,...,Ratio_num_bins,Ratio_num_bins_update,MAP,Start,End,Length,CDS_count,ENSG,HGNC,CHROM
0,A2M,9220419-9220435,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,False,0,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,4/4,1.0,...,0.8 - 1,1.00,A2M_9220419-9220435,9220419,9220435,16,38,ENSG00000175899,HGNC:7,12
1,A2M,9220779-9220820,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,False,0,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,4/4,1.0,...,0.8 - 1,1.00,A2M_9220779-9220820,9220779,9220820,41,38,ENSG00000175899,HGNC:7,12
2,A2M,9221336-9221438,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,False,0,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,4/4,1.0,...,0.8 - 1,1.00,A2M_9221336-9221438,9221336,9221438,102,38,ENSG00000175899,HGNC:7,12
3,A2M,9222341-9222409,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,False,0,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,4/4,1.0,...,0.8 - 1,1.00,A2M_9222341-9222409,9222341,9222409,68,38,ENSG00000175899,HGNC:7,12
4,A2M,9223084-9223174,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,False,0,"[NM_001347425, NM_001347423, NM_000014, NM_001...",4,4/4,1.0,...,0.8 - 1,1.00,A2M_9223084-9223174,9223084,9223174,90,38,ENSG00000175899,HGNC:7,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194650,ZZZ3,78047461-78047576,"[NM_001308237, NM_015534]",2,False,0,"[NM_001308237, NM_015534]",2,2/2,1.0,...,0.8 - 1,1.00,ZZZ3_78047461-78047576,78047461,78047576,115,12,ENSG00000036549,HGNC:24523,1
194651,ZZZ3,78047664-78047811,"[NM_001308237, NM_015534]",2,False,0,"[NM_001308237, NM_015534]",2,2/2,1.0,...,0.8 - 1,1.00,ZZZ3_78047664-78047811,78047664,78047811,147,12,ENSG00000036549,HGNC:24523,1
194652,ZZZ3,78050202-78050340,"[NM_001308237, NM_015534]",2,False,0,"[NM_001308237, NM_015534]",2,2/2,1.0,...,0.8 - 1,1.00,ZZZ3_78050202-78050340,78050202,78050340,138,12,ENSG00000036549,HGNC:24523,1
194653,ZZZ3,78097535-78099039,[NM_015534],1,False,0,"[NM_001308237, NM_015534]",2,1/2,0.5,...,0.4 - 0.6,0.4 - 0.6,ZZZ3_78097535-78099039,78097535,78099039,1504,12,ENSG00000036549,HGNC:24523,1
194654,ZZZ3,78105134-78105156,[NM_001308237],1,False,0,"[NM_001308237, NM_015534]",2,1/2,0.5,...,0.4 - 0.6,0.4 - 0.6,ZZZ3_78105134-78105156,78105134,78105156,22,12,ENSG00000036549,HGNC:24523,1

In [18]:
refseq2.CHROM.unique()

array(['12', '22', '3', '4', '15', '2', '11', '17', '20', '8', '16', '6',
       '7', '9', '1', '19', 'X', '13', '14', '21', '18', '10', '5', 'Y'],
      dtype=object)

In [50]:
dext = pd.read_parquet("/gstock/EXOTIC/data/EXOTIC/dext_modified_zscore_mean_prop_corrected_with_variable.parquet")
dext.loc[dext['Gene'] == 'A2ML1'][['ranges', 'Vagina']]

             ranges    Vagina
0   8975248-8975309 -0.000084
1   8975778-8975961 -0.000084
2   8976316-8976478 -0.000084
3   8982323-8982375 -0.000084
4   8987258-8987278 -0.000084
5   8988103-8988262 -0.000084
6   8988851-8988935 -0.000084
7   8990036-8990162 -0.000084
8   8990932-8991046 -0.000084
9   8991709-8991818 -0.000084
10  8993965-8994132 -0.000084
11  8995730-8995957  0.001128
12  8997768-8997770 -0.002041

In [48]:
exotic = pd.read_parquet("/gstock/EXOTIC/data/EXOTIC/EXOTIC_modified_zscore_mean_prop_corrected_with_variable.parquet")
exotic.loc[exotic['Gene'] == 'A2ML1'][['Exon', 'Vagina']]

               Exon    Vagina
0   8975248-8975309 -0.000084
1   8975778-8975961 -0.000084
2   8976316-8976478 -0.000084
3   8982323-8982375 -0.000084
4   8987258-8987278 -0.000084
5   8988103-8988262 -0.000084
6   8988851-8988935 -0.000084
7   8990036-8990162 -0.000084
8   8990932-8991046 -0.000084
9   8991709-8991818 -0.000084
10  8993965-8994132 -0.000084
11  8995730-8995957  0.003700
12  8997768-8997770 -0.002041

In [44]:
pext_before = pd.read_parquet('/gstock/EXOTIC/data/EXPRESSION/RefSeq_PEXT_2021.parquet')
# pext_before.loc[pext_after['MAP'].str.contains('A2ML1')].to_dict()
pext_before.loc[pext_before['Exon'] == '8975248-8975309'].to_dict()

{'HGNC ID': {144430: 23336.0},
 'symbol': {144430: 'A2ML1'},
 'ensg': {144430: 'ENSG00000166535'},
 'Exon': {144430: '8975248-8975309'},
 'Adipose_Subcutaneous': {144430: 1.0},
 'Adipose_Visceral_Omentum_': {144430: 1.0},
 'AdrenalGland': {144430: 1.0},
 'Artery_Aorta': {144430: 1.0},
 'Artery_Coronary': {144430: 1.0},
 'Artery_Tibial': {144430: 1.0},
 'Bladder': {144430: 0.67816},
 'Brain_Amygdala': {144430: 0.36482},
 'Brain_Anteriorcingulatecortex_BA24_': {144430: 0.34302},
 'Brain_Caudate_basalganglia_': {144430: 0.3439},
 'Brain_CerebellarHemisphere': {144430: 0.17518},
 'Brain_Cerebellum': {144430: 0.22973000000000002},
 'Brain_Cortex': {144430: 0.34024},
 'Brain_FrontalCortex_BA9_': {144430: 0.35385},
 'Brain_Hippocampus': {144430: 0.3913},
 'Brain_Hypothalamus': {144430: 0.3913},
 'Brain_Nucleusaccumbens_basalganglia_': {144430: 0.34931999999999996},
 'Brain_Putamen_basalganglia_': {144430: 0.36496},
 'Brain_Spinalcord_cervicalc_1_': {144430: 0.5526300000000001},
 'Brain_Substantianigra': {144430: 0.38655},
 'Breast_MammaryTissue': {144430: 1.0},
 'Cells_EBV_transformedlymphocytes': {144430: 1.0},
 'Cells_Transformedfibroblasts': {144430: 1.0},
 'Cervix_Ectocervix': {144430: 0.39516},
 'Cervix_Endocervix': {144430: 0.43901999999999997},
 'Colon_Sigmoid': {144430: 1.0},
 'Colon_Transverse': {144430: 1.0},
 'Esophagus_GastroesophagealJunction': {144430: 1.0},
 'Esophagus_Mucosa': {144430: 0.72622},
 'Esophagus_Muscularis': {144430: 1.0},
 'FallopianTube': {144430: 0.875},
 'Heart_AtrialAppendage': {144430: 0.66667},
 'Heart_LeftVentricle': {144430: 1.0},
 'Kidney_Cortex': {144430: 1.0},
 'Liver': {144430: 1.0},
 'Lung': {144430: 1.0},
 'MinorSalivaryGland': {144430: 0.66304},
 'Muscle_Skeletal': {144430: 1.0},
 'Nerve_Tibial': {144430: 0.24425},
 'Ovary': {144430: 0.28125},
 'Pancreas': {144430: 1.0},
 'Pituitary': {144430: 0.39252},
 'Prostate': {144430: 0.43901999999999997},
 'Skin_NotSunExposed_Suprapubic_': {144430: 0.5788800000000001},
 'Skin_SunExposed_Lowerleg_': {144430: 0.54618},
 'SmallIntestine_TerminalIleum': {144430: 1.0},
 'Spleen': {144430: 1.0},
 'Stomach': {144430: 1.0},
 'Testis': {144430: 0.20471},
 'Thyroid': {144430: 1.0},
 'Uterus': {144430: 0.43478},
 'Vagina': {144430: 0.6907},
 'WholeBlood': {144430: 1.0},
 'mean_proportion': {144430: 0.69514}}

In [45]:
pext_after = pd.read_parquet('/gstock/EXOTIC/data/EXPRESSION/TMP/pext_groupby.parquet')
# pext_after.columns
pext_after.loc[pext_after['MAP'].str.contains('8975248-8975309')].to_dict()

{'MAP': {0: 'A2ML1_8975248-8975309'},
 'Adipose_Subcutaneous': {0: 1.0},
 'Adipose_Visceral_Omentum_': {0: 1.0},
 'AdrenalGland': {0: 1.0},
 'Artery_Aorta': {0: 1.0},
 'Artery_Coronary': {0: 1.0},
 'Artery_Tibial': {0: 1.0},
 'Bladder': {0: 0.67816},
 'Brain_Amygdala': {0: 0.36482},
 'Brain_Anteriorcingulatecortex_BA24_': {0: 0.34302},
 'Brain_Caudate_basalganglia_': {0: 0.3439},
 'Brain_CerebellarHemisphere': {0: 0.17518},
 'Brain_Cerebellum': {0: 0.22973000000000002},
 'Brain_Cortex': {0: 0.34024},
 'Brain_FrontalCortex_BA9_': {0: 0.35385},
 'Brain_Hippocampus': {0: 0.3913},
 'Brain_Hypothalamus': {0: 0.3913},
 'Brain_Nucleusaccumbens_basalganglia_': {0: 0.34931999999999996},
 'Brain_Putamen_basalganglia_': {0: 0.36496},
 'Brain_Spinalcord_cervicalc_1_': {0: 0.5526300000000001},
 'Brain_Substantianigra': {0: 0.38655},
 'Breast_MammaryTissue': {0: 1.0},
 'Cells_EBV_transformedlymphocytes': {0: 1.0},
 'Cells_Transformedfibroblasts': {0: 1.0},
 'Cervix_Ectocervix': {0: 0.39516},
 'Cervix_Endocervix': {0: 0.43901999999999997},
 'Colon_Sigmoid': {0: 1.0},
 'Colon_Transverse': {0: 1.0},
 'Esophagus_GastroesophagealJunction': {0: 1.0},
 'Esophagus_Mucosa': {0: 0.72622},
 'Esophagus_Muscularis': {0: 1.0},
 'FallopianTube': {0: 0.875},
 'Heart_AtrialAppendage': {0: 0.66667},
 'Heart_LeftVentricle': {0: 1.0},
 'Kidney_Cortex': {0: 1.0},
 'Liver': {0: 1.0},
 'Lung': {0: 1.0},
 'MinorSalivaryGland': {0: 0.66304},
 'Muscle_Skeletal': {0: 1.0},
 'Nerve_Tibial': {0: 0.24425},
 'Ovary': {0: 0.28125},
 'Pancreas': {0: 1.0},
 'Pituitary': {0: 0.39252},
 'Prostate': {0: 0.43901999999999997},
 'Skin_NotSunExposed_Suprapubic_': {0: 0.5788800000000001},
 'Skin_SunExposed_Lowerleg_': {0: 0.54618},
 'SmallIntestine_TerminalIleum': {0: 1.0},
 'Spleen': {0: 1.0},
 'Stomach': {0: 1.0},
 'Testis': {0: 0.20471},
 'Thyroid': {0: 1.0},
 'Uterus': {0: 0.43478},
 'Vagina': {0: 0.6907},
 'WholeBlood': {0: 1.0},
 'mean_proportion': {0: 0.69514}}