In [1]:
import pandas as pd

In [14]:
mistic_37

,CHROM,POS,REF,ALT,gnomAD_exomes_AF,VotingClassifier_lr_rf_proba,LogisticRegression_proba,MISTIC_score,MISTIC_pred
0,1,69094,G,A,0.0,0.315935,0.233113,0.233113,B
1,1,69094,G,C,0.0,0.224750,0.150727,0.150727,B
2,1,69094,G,T,0.0,0.224708,0.150641,0.150641,B
3,1,69095,T,A,0.0,0.610470,0.718001,0.718001,D
4,1,69095,T,C,0.0,0.147986,0.197301,0.197301,B
...,...,...,...,...,...,...,...,...,...
74270312,chrX,155240070,T,A,0.0,0.278900,0.257613,0.257613,B
74270313,chrX,155240070,T,G,0.0,0.301912,0.204463,0.204463,B
74270314,chrX,155240070,T,C,0.0,0.291465,0.282695,0.282695,B
74270315,chrX,155240071,C,A,0.0,0.135126,0.169160,0.169160,B
74270316,chrX,155240071,C,G,0.0,0.135182,0.169274,0.169274,B

In [34]:
mistic_37['POS'] = mistic_37['POS'].astype(int)
mistic_37.loc[mistic_37['POS'] == 68154128]

,CHROM,POS,REF,ALT,gnomAD_exomes_AF,VotingClassifier_lr_rf_proba,LogisticRegression_proba,MISTIC_score,MISTIC_pred,VAR_ID
13128480,11,68154128,G,A,0.000004,0.730427,0.859542,0.730427,D,11_68154128_G_A
13128481,11,68154128,G,C,0.000000,0.606076,0.411264,0.411264,B,11_68154128_G_C
13128482,11,68154128,G,T,0.000000,0.606022,0.411155,0.411155,B,11_68154128_G_T

In [18]:
mistic_37 = pd.read_parquet('/gstock/biolo_datasets/variation/benchmark/MISTIC/PRECOMPUTING_CADD/MISTIC_GRCh37.parquet')
mistic_37['VAR_ID'] = mistic_37['CHROM'].astype(str) + '_' + mistic_37['POS'].astype(str) + '_' + mistic_37['REF'].astype(str) + '_' + mistic_37['ALT'].astype(str)
mistic_37

,CHROM,POS,REF,ALT,gnomAD_exomes_AF,VotingClassifier_lr_rf_proba,LogisticRegression_proba,MISTIC_score,MISTIC_pred,VAR_ID
0,1,69094,G,A,0.0,0.315935,0.233113,0.233113,B,1_69094_G_A
1,1,69094,G,C,0.0,0.224750,0.150727,0.150727,B,1_69094_G_C
2,1,69094,G,T,0.0,0.224708,0.150641,0.150641,B,1_69094_G_T
3,1,69095,T,A,0.0,0.610470,0.718001,0.718001,D,1_69095_T_A
4,1,69095,T,C,0.0,0.147986,0.197301,0.197301,B,1_69095_T_C
...,...,...,...,...,...,...,...,...,...,...
74270312,chrX,155240070,T,A,0.0,0.278900,0.257613,0.257613,B,chrX_155240070_T_A
74270313,chrX,155240070,T,G,0.0,0.301912,0.204463,0.204463,B,chrX_155240070_T_G
74270314,chrX,155240070,T,C,0.0,0.291465,0.282695,0.282695,B,chrX_155240070_T_C
74270315,chrX,155240071,C,A,0.0,0.135126,0.169160,0.169160,B,chrX_155240071_C_A
74270316,chrX,155240071,C,G,0.0,0.135182,0.169274,0.169274,B,chrX_155240071_C_G

In [30]:
mistic_37

,CHROM,POS,REF,ALT,gnomAD_exomes_AF,VotingClassifier_lr_rf_proba,LogisticRegression_proba,MISTIC_score,MISTIC_pred,VAR_ID
0,1,69094,G,A,0.0,0.315935,0.233113,0.233113,B,1_69094_G_A
1,1,69094,G,C,0.0,0.224750,0.150727,0.150727,B,1_69094_G_C
2,1,69094,G,T,0.0,0.224708,0.150641,0.150641,B,1_69094_G_T
3,1,69095,T,A,0.0,0.610470,0.718001,0.718001,D,1_69095_T_A
4,1,69095,T,C,0.0,0.147986,0.197301,0.197301,B,1_69095_T_C
...,...,...,...,...,...,...,...,...,...,...
74270312,chrX,155240070,T,A,0.0,0.278900,0.257613,0.257613,B,chrX_155240070_T_A
74270313,chrX,155240070,T,G,0.0,0.301912,0.204463,0.204463,B,chrX_155240070_T_G
74270314,chrX,155240070,T,C,0.0,0.291465,0.282695,0.282695,B,chrX_155240070_T_C
74270315,chrX,155240071,C,A,0.0,0.135126,0.169160,0.169160,B,chrX_155240071_C_A
74270316,chrX,155240071,C,G,0.0,0.135182,0.169274,0.169274,B,chrX_155240071_C_G

In [2]:
training_sets = pd.read_csv('/gstock/biolo_datasets/variation/benchmark/MISTIC/WEBSITE_DATA/ClinVar.csv.gz', compression='gzip', sep='\t')

training_sets

     CHROM        POS REF ALT          Source
0       10  101487312   T   G  Source=ClinVar
1       10  102010028   C   A  Source=ClinVar
2       10  102509572   G   A  Source=ClinVar
3       10  102509646   G   A  Source=ClinVar
4       10  102510477   C   T  Source=ClinVar
...    ...        ...  ..  ..             ...
4454     X   99663235   C   G  Source=ClinVar
4455     X   99663301   A   T  Source=ClinVar
4456     X   99663468   G   A  Source=ClinVar
4457     X   99663504   T   A  Source=ClinVar
4458     X   99920591   C   T  Source=ClinVar

[4459 rows x 5 columns]

In [4]:
training_sets['VAR_ID'] = training_sets['CHROM'].astype(str) + '_' + training_sets['POS'].astype(str) + '_' + training_sets['REF'].astype(str) + '_' + training_sets['ALT'].astype(str)
training_sets

     CHROM        POS REF ALT          Source            VAR_ID
0       10  101487312   T   G  Source=ClinVar  10_101487312_T_G
1       10  102010028   C   A  Source=ClinVar  10_102010028_C_A
2       10  102509572   G   A  Source=ClinVar  10_102509572_G_A
3       10  102509646   G   A  Source=ClinVar  10_102509646_G_A
4       10  102510477   C   T  Source=ClinVar  10_102510477_C_T
...    ...        ...  ..  ..             ...               ...
4454     X   99663235   C   G  Source=ClinVar    X_99663235_C_G
4455     X   99663301   A   T  Source=ClinVar    X_99663301_A_T
4456     X   99663468   G   A  Source=ClinVar    X_99663468_G_A
4457     X   99663504   T   A  Source=ClinVar    X_99663504_T_A
4458     X   99920591   C   T  Source=ClinVar    X_99920591_C_T

[4459 rows x 6 columns]

In [10]:
exotic_missense = ["2_219525843_C_T", "2_219525858_A_G", "2_219526006_C_T", "3_53707831_G_A", "3_53707831_G_A", "2_74184339_G_A", "4_3487334_C_T", "4_3487272_G_C", "12_56495819_G_A", "12_56495819_G_A", "10_123279677_G_C", "10_123279677_G_C", "10_123279676_CG_AA", "10_123279676_CG_AA", "10_123279674_G_C", "10_123279674_G_C", "4_1805512_G_T", "4_1805512_G_T", "3_128200723_C_A", "3_128200688_A_G", "8_11606472_G_A", "8_11606472_G_A", "16_56385309_A_G", "16_56385309_A_G", "16_56385308_G_A", "16_56385309_A_G", "16_56385309_A_G", "16_56385309_A_G", "16_56385308_G_A", "16_56385309_A_G", "16_56385308_G_A", "16_56385308_G_A", "16_56385308_G_A", "16_56385308_G_A", "16_56385309_A_G", "16_56385308_G_A", "16_56385309_A_G", "16_56385308_G_A", "20_57484420_C_G", "20_57484420_C_T", "20_57484421_G_A", "9_36236951_A_G", "9_36236861_C_T", "14_76549813_T_C", "7_23207535_C_T", "7_23205495_G_A", "7_23207538_T_A", "11_68154128_G_A", "X_153363118_G_A", "X_153363118_G_A", "X_153363118_G_A", "X_153199447_T_G", "X_153199447_T_G", "2_32475911_A_G", "2_32475924_T_A", "9_134002977_C_T", "9_134002977_C_T", "15_41022153_G_A", "15_41022153_G_A", "19_35524568_C_T", "19_35524568_C_T", "19_35524550_T_G", "19_35524550_T_G", "19_35524511_A_T", "19_35524511_A_T", "9_101894968_G_T", "9_101894968_G_T", "18_60029026_G_T", "18_60029026_G_T", "18_60029026_G_T", "3_189607267_T_C", "3_189608584_A_T", "3_189608606_T_G", "9_35684762_G_C", "9_35684762_G_C", "9_35684762_G_C", "9_35684762_G_C", "16_78142352_C_G", "16_78142352_C_G", "16_78142352_C_G", ]

In [11]:
training_sets.loc[training_sets['VAR_ID'].isin(exotic_missense)]

    CHROM       POS REF ALT          Source           VAR_ID
631    12  56495819   G   A  Source=ClinVar  12_56495819_G_A

In [23]:
exotic_missense_df = mistic_37.loc[mistic_37['VAR_ID'].isin(exotic_missense)]
exotic_missense_df.sort_values(by='VAR_ID')

,CHROM,POS,REF,ALT,gnomAD_exomes_AF,VotingClassifier_lr_rf_proba,LogisticRegression_proba,MISTIC_score,MISTIC_pred,VAR_ID
10143834,10,123279674,G,C,0.000000,0.937606,0.875582,0.875582,D,10_123279674_G_C
10143839,10,123279677,G,C,0.000004,0.840475,0.881923,0.840475,D,10_123279677_G_C
13128480,11,68154128,G,A,0.000004,0.730427,0.859542,0.730427,D,11_68154128_G_A
16633541,12,56495819,G,A,0.000109,0.440799,0.082712,0.440799,B,12_56495819_G_A
21675555,14,76549813,T,C,0.000000,0.949796,0.899401,0.899401,D,14_76549813_T_C
22999948,15,41022153,G,A,0.000000,0.940242,0.881462,0.881462,D,15_41022153_G_A
27855095,16,78142352,C,G,0.000000,0.959018,0.917403,0.917403,D,16_78142352_C_G
33432453,18,60029026,G,T,0.000000,0.664978,0.329557,0.329557,B,18_60029026_G_T
36008077,19,35524511,A,T,0.000000,0.934264,0.968115,0.968115,D,19_35524511_A_T
36008164,19,35524550,T,G,0.000000,0.982340,0.964263,0.964263,D,19_35524550_T_G
36008206,19,35524568,C,T,0.000000,0.933409,0.966416,0.966416,D,19_35524568_C_T
45540153,20,57484420,C,G,0.000004,0.946530,0.992929,0.946530,D,20_57484420_C_G
45540154,20,57484420,C,T,0.000000,0.996099,0.992103,0.992103,D,20_57484420_C_T
45540155,20,57484421,G,A,0.000000,0.897305,0.994491,0.994491,D,20_57484421_G_A
43275013,2,219525843,C,T,0.000012,0.870091,0.939601,0.870091,D,2_219525843_C_T
43275050,2,219525858,A,G,0.000000,0.986656,0.973083,0.973083,D,2_219525858_A_G
43275377,2,219526006,C,T,0.000000,0.987614,0.974788,0.974788,D,2_219526006_C_T
39296223,2,32475911,A,G,0.000000,0.399257,0.396101,0.396101,B,2_32475911_A_G
39296252,2,32475924,T,A,0.000000,0.718795,0.536794,0.536794,D,2_32475924_T_A
40146613,2,74184339,G,A,0.000024,0.863008,0.925630,0.863008,D,2_74184339_G_A
50994545,3,128200688,A,G,0.000000,0.998885,0.997778,0.997778,D,3_128200688_A_G
50994620,3,128200723,C,A,0.000000,0.996109,0.992160,0.992160,D,3_128200723_C_A
52177535,3,189607267,T,C,0.000000,0.972258,0.943886,0.943886,D,3_189607267_T_C
52177563,3,189608584,A,T,0.000000,0.966448,0.931695,0.931695,D,3_189608584_A_T
52177607,3,189608606,T,G,0.000000,0.959582,0.918319,0.918319,D,3_189608606_T_G
49869172,3,53707831,G,A,0.000000,0.983861,0.968214,0.968214,D,3_53707831_G_A
52612892,4,3487272,G,C,0.000012,0.691714,0.781570,0.691714,D,4_3487272_G_C
63073816,7,23205495,G,A,0.000000,0.933203,0.966588,0.966588,D,7_23205495_G_A
63074124,7,23207535,C,T,0.000008,0.805198,0.910648,0.805198,D,7_23207535_C_T
63074128,7,23207538,T,A,0.000000,0.652652,0.603537,0.603537,D,7_23207538_T_A
66206707,8,11606472,G,A,0.000000,0.991709,0.983269,0.983269,D,8_11606472_G_A
69997579,9,101894968,G,T,0.000012,0.454503,0.707495,0.454503,B,9_101894968_G_T
70968976,9,134002977,C,T,0.000068,0.791325,0.882004,0.791325,D,9_134002977_C_T
69181103,9,36236861,C,T,0.000028,0.700083,0.898420,0.700083,D,9_36236861_C_T
69181302,9,36236951,A,G,0.000024,0.723467,0.946285,0.723467,D,9_36236951_A_G