In [1]:
import pandas as pd

In [2]:
gtex_raw_transcripts = pd.read_csv('/gstock/biolo_datasets/variation/benchmark/Databases/GTEX/V7/GTEx.V7.tx_medians.021820.tsv.bgz', compression='gzip', sep='\t')
gtex_raw_transcripts

,transcript_id,gene_id,Adipose-Subcutaneous,Adipose-Visceral(Omentum),AdrenalGland,Artery-Aorta,Artery-Coronary,Artery-Tibial,Bladder,Brain-Amygdala,...,Skin-NotSunExposed(Suprapubic),Skin-SunExposed(Lowerleg),SmallIntestine-TerminalIleum,Spleen,Stomach,Testis,Thyroid,Uterus,Vagina,WholeBlood
0,ENST00000000233,ENSG00000004059,96.025,82.72,75.580,102.10,99.01,99.69,93.34,86.390,...,167.10,180.00,84.00,99.560,78.350,108.80,94.775,111.60,117.80,60.54
1,ENST00000000412,ENSG00000003056,33.005,29.20,33.585,34.68,33.18,36.64,42.41,9.015,...,21.92,24.30,28.24,44.265,17.360,39.34,36.165,35.71,26.27,11.28
2,ENST00000000442,ENSG00000173153,16.795,16.86,18.975,12.09,14.41,13.21,24.67,8.265,...,21.23,22.68,41.53,19.350,23.980,5.25,21.230,9.32,19.08,7.56
3,ENST00000001008,ENSG00000004478,26.680,37.18,42.045,43.31,43.50,55.91,57.73,37.010,...,65.50,63.54,29.17,25.860,50.540,99.68,60.885,45.33,67.08,9.53
4,ENST00000001146,ENSG00000003137,13.100,9.86,1.470,3.63,3.34,1.81,1.14,2.470,...,14.65,17.68,1.82,1.495,0.265,9.39,9.610,1.98,2.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196515,ENSTR0000580266,ENSGR0000265658,0.000,0.00,0.000,0.00,0.00,0.00,0.00,0.000,...,0.00,0.00,0.00,0.000,0.000,0.00,0.000,0.00,0.00,0.00
196516,ENSTR0000580687,ENSGR0000264819,0.000,0.00,0.000,0.00,0.00,0.00,0.00,0.000,...,0.00,0.00,0.00,0.000,0.000,0.00,0.000,0.00,0.00,0.00
196517,ENSTR0000581137,ENSGR0000264510,0.000,0.00,0.000,0.00,0.00,0.00,0.00,0.000,...,0.00,0.00,0.00,0.000,0.000,0.00,0.000,0.00,0.00,0.00
196518,ENSTR0000583047,ENSGR0000263835,0.000,0.00,0.000,0.00,0.00,0.00,0.00,0.000,...,0.00,0.00,0.00,0.000,0.000,0.00,0.000,0.00,0.00,0.00
196519,ENSTR0000602357,ENSGR0000236017,0.000,0.00,0.000,0.00,0.00,0.00,0.00,0.000,...,0.00,0.00,0.00,0.000,0.000,0.00,0.000,0.00,0.00,0.00

In [3]:
gtex_raw_transcripts.gene_id.nunique()

57820

In [18]:
biomart = pd.read_csv('/gstock/EXOTIC/data/OTHERS/biomart_refseq_ensembl_hgnc.txt.gz', compression='gzip', sep='\t')[['Gene name', 'HGNC ID', 'Gene stable ID']].drop_duplicates()
biomart['HGNC ID'] = biomart['HGNC ID'].str.replace('HGNC:', '')
# print(biomart['Gene name'].nunique())
biomart = biomart.dropna(subset=['HGNC ID'])
biomart['HGNC ID'] = biomart['HGNC ID'].astype(int)
print(biomart['Gene name'].nunique())
biomart

19372

/home/weber/.conda/envs/ExoCarto/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       Gene name  HGNC ID   Gene stable ID
0         MT-ND1     7455  ENSG00000198888
1         MT-ND2     7456  ENSG00000198763
2         MT-CO1     7419  ENSG00000198804
3         MT-CO2     7421  ENSG00000198712
4        MT-ATP8     7415  ENSG00000228253
...          ...      ...              ...
194896    OR14I1    19575  ENSG00000189181
194897   SH3BP5L    29360  ENSG00000175137
194903    ZNF672    26179  ENSG00000171161
194910    ZNF692    26049  ENSG00000171163
194941     PGBD2    19399  ENSG00000185220

[21910 rows x 3 columns]

In [5]:
refseq_37 = pd.read_csv('/gstock/EXOTIC/data/GENOMICS/GRCh37_RefSeq_lite_hgnc.csv.gz', compression='gzip', sep='\t')
refseq_37

,ID,Source,Element,Start,End,Score,Brin,Phase,CCDS,Dbxref,...,Elem_position_ID,CDS_num,mRNA_num,mRNA_nb,Count,Count_CDS_alternative,Count_CDS_constitutive,mRNA_IDS,CDS_locations_corrected,HGNC
0,NC_000019.9,BestRefSeq,gene,58856549,58864858,.,-,.,NaN,"GeneID:1,HGNC:HGNC:5,MIM:138670",...,58856549_58864858,NaN,NaN,1,NaN,0,8,['NM_130786.4'],"{(58858388, 58858395): {'Sources': [(58858388,...",5.0
1,NC_000008.10,BestRefSeq,gene,18248792,18258728,.,+,.,NaN,"GeneID:10,HGNC:HGNC:7646,MIM:612182",...,18248792_18258728,NaN,NaN,1,NaN,0,1,['NM_000015.3'],"{(18257514, 18258386): {'Sources': [(18257514,...",7646.0
2,NC_000020.10,BestRefSeq,gene,43248160,43280399,.,-,.,NaN,"GeneID:100,HGNC:HGNC:186,MIM:608958",...,43248160_43280399,NaN,NaN,3,NaN,7,6,"['NM_001322050.1', 'NM_001322051.1', 'NM_00002...","{(43248475, 43248488): {'Sources': [(43248475,...",186.0
3,NC_000018.9,BestRefSeq,gene,25530930,25757094,.,-,.,NaN,"GeneID:1000,HGNC:HGNC:1759,MIM:114020",...,25530930_25757094,NaN,NaN,2,NaN,3,14,"['NM_001792.5', 'NM_001308176.2']","{(25532117, 25532323): {'Sources': [(25532117,...",1759.0
4,NC_000001.10,BestRefSeq,gene,243651535,244014381,.,-,.,NaN,"GeneID:10000,HGNC:HGNC:393,MIM:611223",...,243651535_244014381,NaN,NaN,4,NaN,2,12,"['NM_181690.2', 'NM_001206729.1', 'NM_00137007...","{(243663045, 243663088): {'Sources': [(2436630...",393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19318,NC_000009.11,BestRefSeq,gene,114979995,115095944,.,-,.,NaN,"GeneID:9991,HGNC:HGNC:10253,MIM:607527",...,114979995_115095944,NaN,NaN,6,NaN,10,10,"['NM_001163790.2', 'NM_001244896.2', 'NM_00124...","{(114982452, 114982653): {'Sources': [(1149824...",10253.0
19319,NC_000021.8,BestRefSeq,gene,35736323,35743440,.,+,.,NaN,"GeneID:9992,HGNC:HGNC:6242,MIM:603796",...,35736323_35743440,NaN,NaN,1,NaN,0,1,['NM_172201.1'],"{(35742778, 35743149): {'Sources': [(35742778,...",6242.0
19320,NC_000022.10,BestRefSeq,gene,19023795,19109967,.,-,.,NaN,"GeneID:9993,HGNC:HGNC:2845,MIM:600594",...,19023795_19109967,NaN,NaN,4,NaN,3,8,"['NM_001173533.1', 'NM_001173534.2', 'NM_00118...","{(19026378, 19026634): {'Sources': [(19026378,...",2845.0
19321,NC_000006.11,BestRefSeq,gene,90539599,90584155,.,+,.,NaN,"GeneID:9994,HGNC:HGNC:1510,MIM:606880",...,90539599_90584155,NaN,NaN,3,NaN,0,9,"['NM_012115.4', 'NM_001137667.2', 'NM_00113766...","{(90556309, 90556363): {'Sources': [(90556309,...",1510.0
19322,NC_000022.10,BestRefSeq,gene,50961997,50964868,.,-,.,NaN,"GeneID:9997,HGNC:HGNC:10604,MIM:604272",...,50961997_50964868,NaN,NaN,4,NaN,0,1,"['NM_001169109.1', 'NM_001169110.1', 'NM_00513...","{(50962040, 50962840): {'Sources': [(50962040,...",10604.0

In [10]:
refseq_37.dropna(subset=['HGNC'])
# refseq_37.HGNC = refseq_37.HGNC.astype(int)

,ID,Source,Element,Start,End,Score,Brin,Phase,CCDS,Dbxref,...,Elem_position_ID,CDS_num,mRNA_num,mRNA_nb,Count,Count_CDS_alternative,Count_CDS_constitutive,mRNA_IDS,CDS_locations_corrected,HGNC
0,NC_000019.9,BestRefSeq,gene,58856549,58864858,.,-,.,NaN,"GeneID:1,HGNC:HGNC:5,MIM:138670",...,58856549_58864858,NaN,NaN,1,NaN,0,8,['NM_130786.4'],"{(58858388, 58858395): {'Sources': [(58858388,...",5.0
1,NC_000008.10,BestRefSeq,gene,18248792,18258728,.,+,.,NaN,"GeneID:10,HGNC:HGNC:7646,MIM:612182",...,18248792_18258728,NaN,NaN,1,NaN,0,1,['NM_000015.3'],"{(18257514, 18258386): {'Sources': [(18257514,...",7646.0
2,NC_000020.10,BestRefSeq,gene,43248160,43280399,.,-,.,NaN,"GeneID:100,HGNC:HGNC:186,MIM:608958",...,43248160_43280399,NaN,NaN,3,NaN,7,6,"['NM_001322050.1', 'NM_001322051.1', 'NM_00002...","{(43248475, 43248488): {'Sources': [(43248475,...",186.0
3,NC_000018.9,BestRefSeq,gene,25530930,25757094,.,-,.,NaN,"GeneID:1000,HGNC:HGNC:1759,MIM:114020",...,25530930_25757094,NaN,NaN,2,NaN,3,14,"['NM_001792.5', 'NM_001308176.2']","{(25532117, 25532323): {'Sources': [(25532117,...",1759.0
4,NC_000001.10,BestRefSeq,gene,243651535,244014381,.,-,.,NaN,"GeneID:10000,HGNC:HGNC:393,MIM:611223",...,243651535_244014381,NaN,NaN,4,NaN,2,12,"['NM_181690.2', 'NM_001206729.1', 'NM_00137007...","{(243663045, 243663088): {'Sources': [(2436630...",393.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19318,NC_000009.11,BestRefSeq,gene,114979995,115095944,.,-,.,NaN,"GeneID:9991,HGNC:HGNC:10253,MIM:607527",...,114979995_115095944,NaN,NaN,6,NaN,10,10,"['NM_001163790.2', 'NM_001244896.2', 'NM_00124...","{(114982452, 114982653): {'Sources': [(1149824...",10253.0
19319,NC_000021.8,BestRefSeq,gene,35736323,35743440,.,+,.,NaN,"GeneID:9992,HGNC:HGNC:6242,MIM:603796",...,35736323_35743440,NaN,NaN,1,NaN,0,1,['NM_172201.1'],"{(35742778, 35743149): {'Sources': [(35742778,...",6242.0
19320,NC_000022.10,BestRefSeq,gene,19023795,19109967,.,-,.,NaN,"GeneID:9993,HGNC:HGNC:2845,MIM:600594",...,19023795_19109967,NaN,NaN,4,NaN,3,8,"['NM_001173533.1', 'NM_001173534.2', 'NM_00118...","{(19026378, 19026634): {'Sources': [(19026378,...",2845.0
19321,NC_000006.11,BestRefSeq,gene,90539599,90584155,.,+,.,NaN,"GeneID:9994,HGNC:HGNC:1510,MIM:606880",...,90539599_90584155,NaN,NaN,3,NaN,0,9,"['NM_012115.4', 'NM_001137667.2', 'NM_00113766...","{(90556309, 90556363): {'Sources': [(90556309,...",1510.0
19322,NC_000022.10,BestRefSeq,gene,50961997,50964868,.,-,.,NaN,"GeneID:9997,HGNC:HGNC:10604,MIM:604272",...,50961997_50964868,NaN,NaN,4,NaN,0,1,"['NM_001169109.1', 'NM_001169110.1', 'NM_00513...","{(50962040, 50962840): {'Sources': [(50962040,...",10604.0

In [20]:
merge_biomart_refseq = pd.merge(refseq_37[['Name', 'HGNC', 'Start', 'End']], biomart, left_on='HGNC', right_on='HGNC ID')
print(merge_biomart_refseq.Name.nunique())
print(merge_biomart_refseq['Gene stable ID'].nunique())
print(merge_biomart_refseq['HGNC ID'].nunique())
merge_biomart_refseq

19084
21527
19084

,Name,HGNC,Start,End,Gene name,HGNC ID,Gene stable ID
0,A1BG,5.0,58856549,58864858,A1BG,5,ENSG00000121410
1,NAT2,7646.0,18248792,18258728,NAT2,7646,ENSG00000156006
2,ADA,186.0,43248160,43280399,ADA,186,ENSG00000196839
3,CDH2,1759.0,25530930,25757094,CDH2,1759,ENSG00000170558
4,AKT3,393.0,243651535,244014381,AKT3,393,ENSG00000275199
...,...,...,...,...,...,...,...
21547,KCNE2,6242.0,35736323,35743440,KCNE2,6242,ENSG00000159197
21548,DGCR2,2845.0,19023795,19109967,DGCR2,2845,ENSG00000070413
21549,CASP8AP2,1510.0,90539599,90584155,CASP8AP2,1510,ENSG00000288475
21550,CASP8AP2,1510.0,90539599,90584155,CASP8AP2,1510,ENSG00000118412
21551,SCO2,10604.0,50961997,50964868,SCO2,10604,ENSG00000284194

In [21]:
refseq_biomart_gtex = merge_biomart_refseq.loc[merge_biomart_refseq['Gene stable ID'].isin(gtex_raw_transcripts['gene_id'].unique().tolist())]
print(refseq_biomart_gtex['Gene stable ID'].nunique())
print(refseq_biomart_gtex['Gene name'].nunique())
print(refseq_biomart_gtex['HGNC ID'].nunique())

18746
18745
18745